@import "configColor";
.icon-button {
  width: 1%;
}
//.btn-success {
//  background: $primary-color;
//  border: none;
//}
//
//.btn-warning {
//  background: $warning-color;
//  border: none;
//  color: $white-color;
//}
//
//.btn-bago {
//  background: $bago-color;
//  border: none;
//  color: $white-color;
//}
//
//.p-button {
//  background: $bago-color;
//  border: none;
//  color: $white-color;
//  border-radius: 7px
//}
//
//.p-button.p-button-outlined {
//  color: $bago-color;
//}
//
//.p-button.p-button-text {
//  color: $bago-color;
//}
//
//.btn-info {
//  background: $info-color;
//  border: none;
//  color: $white-color;
//}
//
//.btn-primary {
//  background: $info-color;
//  border: 1px solid $info-color;
//  color: $black-color;
//}
//
//.p-togglebutton.p-button.p-highlight {
//  background: $primary-color;
//  color: $white-color;
//  border-radius: 10px;
//  outline: none;
//  border: none;
//}
//
//.p-togglebutton.p-button.p-highlight:hover {
//  background: #5e9615;
//  color: $white-color;
//  border-radius: 10px;
//  outline: none;
//  border: none;
//}
//
//.p-togglebutton.p-button {
//  background: $danger-color;
//  color: $white-color;
//  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
//  border-radius: 10px;
//  outline: none;
//  border: none;
//}
//
//.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover {
//  background: #9d0404;
//  color: $white-color;
//  border-radius: 10px;
//  outline: none;
//  border: none;
//}
//
//.btn-radius {
//  border-radius: 50%;
//  width: 30px;
//  margin-right: 10px;
//  margin-left: 10px;
//  font-weight: bold;
//}
//
//.p-fileupload .p-fileupload-buttonbar .p-button {
//  margin-right: 0.5rem;
//  height: 25px;
//  font-size: 14px;
//}
//
//.p-badge.p-badge-danger {
//  background-color: #e64242;
//  color: #ffffff;
//}
//
//.p-dropdown {
//  display: inline-flex;
//  cursor: pointer;
//  position: relative;
//  -webkit-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  width: 100%;
//  border-radius: 8px;
//}
//
//.p-cascadeselect {
//  display: inline-flex;
//  cursor: pointer;
//  position: relative;
//  -webkit-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  border-radius: 8px;
//}
