$bago-color: #36414b;
$primary-color: #82B440;
$warning-color: #FBAC35;
$black-color: #000000;
$white-color: #FFFFFF;
$info-color: #929EE3;
$danger-color: #dc0b0b;
$text-base-color: #282828;
$text-color: rgb(21, 21, 21);
