/**********************************************************************************************************************/
// Customize
// Author: Orlando Briones
/**********************************************************************************************************************/

/**********************************************************************************************************************/
// Begin: dx-datagrid
/**********************************************************************************************************************/

/**********************************************************************************************************************/
// dx-datagrid: Font Size - Header
/**********************************************************************************************************************/

//.bagotable.header-label-9 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-9 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 9px !important;
  }

  //.bagotable.header-label-10 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-10 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 10px !important;
  }

  //.bagotable.header-label-11 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-11 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 11px !important;
  }

  //.bagotable.header-label-12 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-12 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 12px !important;
  }

  //.bagotable.header-label-13 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-13 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 13px !important;
    color: white;
  }

  //.bagotable.header-label-14 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-14 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 14px !important;
  }

  //.bagotable.header-label-15 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-15 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 15px !important;
  }

  //.bagotable.header-label-16 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-16 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 16px !important;
  }

  //.bagotable.header-label-17 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-17 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 17px !important;
  }

  //.bagotable.header-label-18 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-18 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 18px !important;
  }

  //.bagotable.header-label-19 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-19 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 19px !important;
  }

  //.bagotable.header-label-20 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-20 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 20px !important;
  }

  //.bagotable.header-label-21 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-21 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 21px !important;
  }

  //.bagotable.header-label-22 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-22 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 22px !important;
  }

  //.bagotable.header-label-23 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-23 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 23px !important;
  }

  //.bagotable.header-label-24 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-24 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 24px !important;
  }

  //.bagotable.header-label-25 .dx-datagrid .dx-datagrid-headers {
  .bagotable.header-label-25 .dx-header-row > td > .dx-datagrid-text-content {
    font-size: 25px !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Font Size - Grid
  /**********************************************************************************************************************/

  //.bagotable.cell-label-9 .dx-datagrid {
  .bagotable.cell-label-9 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 9px !important;
  }

  //.bagotable.cell-label-10 .dx-datagrid {
  .bagotable.cell-label-10 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 10px !important;
  }

  //.bagotable.cell-label-11 .dx-datagrid {
  .bagotable.cell-label-11 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 11px !important;
  }

  //.bagotable.cell-label-12 .dx-datagrid {
  .bagotable.cell-label-12 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 12px !important;
  }

  //.bagotable.cell-label-13 .dx-datagrid {
  .bagotable.cell-label-13 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 13px !important;
  }

  //.bagotable.cell-label-14 .dx-datagrid {
  .bagotable.cell-label-14 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 14px !important;
  }

  //.bagotable.cell-label-15 .dx-datagrid {
  .bagotable.cell-label-15 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 15px !important;
  }

  //.bagotable.cell-label-16 .dx-datagrid {
  .bagotable.cell-label-16 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 16px !important;
  }

  //.bagotable.cell-label-17 .dx-datagrid {
  .bagotable.cell-label-17 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 17px !important;
  }

  //.bagotable.cell-label-18 .dx-datagrid {
  .bagotable.cell-label-18 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 18px !important;
  }

  //.bagotable.cell-label-19 .dx-datagrid {
  .bagotable.cell-label-19 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 19px !important;
  }

  //.bagotable.cell-label-20 .dx-datagrid {
  .bagotable.cell-label-20 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 20px !important;
  }

  //.bagotable.cell-label-21 .dx-datagrid {
  .bagotable.cell-label-21 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 21px !important;
  }

  //.bagotable.cell-label-22 .dx-datagrid {
  .bagotable.cell-label-22 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 22px !important;
  }

  //.bagotable.cell-label-23 .dx-datagrid {
  .bagotable.cell-label-23 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 23px !important;
  }

  //.bagotable.cell-label-24 .dx-datagrid {
  .bagotable.cell-label-24 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 24px !important;
  }

  //.bagotable.cell-label-25 .dx-datagrid {
  .bagotable.cell-label-25 .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    font-size: 25px !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Font Size - Grid - Total Footer - Summary
  /**********************************************************************************************************************/

  .bagotable.footer-summary-label-9 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 9px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-10 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 10px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-11 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 11px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-12 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 12px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-13 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 13px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-14 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 14px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-15 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 15px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-16 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 16px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-17 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 17px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-18 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 18px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-19 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 19px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-20 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 20px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-21 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 21px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-22 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 22px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-23 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 23px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-24 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 24px !important;
    //font-weight: normal !important;
  }

  .bagotable.footer-summary-label-25 .dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 25px !important;
    //font-weight: normal !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Font Size - TextEditor - Filter
  /**********************************************************************************************************************/

  .bagotable.editor-filter-row .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-placeholder:before, .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-texteditor-input {
    font-size: 12px;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // Begin: Headers
  /**********************************************************************************************************************/

  //.bagotable.header .dx-datagrid .dx-datagrid-headers {
  //  background-color: #8e969d !important;
  //  color: #ffffff !important;
  //}

  .bagotable.header-bold .dx-datagrid .dx-datagrid-headers {
    //background-color: #8e969d !important;
    color: #ffffff !important;
    //color: #8e969d !important;
    font-weight: bold !important;
  }

  dx-data-grid tr.dx-row.dx-header-row {
    background-color: #8e969d !important;
    height: 35px;
  }

  dx-data-grid tr.dx-row.dx-datagrid-filter-row {
    background-color: #ffffff !important;
  }

  td[role = columnheader] {
    text-align: center !important;
    vertical-align: middle !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Master - Detail
  /**********************************************************************************************************************/
  .bagotable .dx-datagrid-group-opened {
    //color: #8e969d;
    color: #ffffff;
  }

  .bagotable .dx-datagrid-group-closed {
    //color: #8e969d;
    color: #ffffff;
  }

  .bagotable .dx-command-expand.dx-datagrid-group-space.dx-datagrid-expand.dx-selection-disabled {
    //background-color: #8e969d;
    background-color: #8e969d;
  }

  .bagotable .dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
    padding: 15px !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Filter column
  /**********************************************************************************************************************/

  .bagotable.header-filter .dx-datagrid .dx-header-filter {
    color: #ffba57 !important;
  }

  .bagotable.header-filter .dx-datagrid .dx-header-filter-empty {
    color: #ffffff !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Row filter
  /**********************************************************************************************************************/

  //.bagotable.text-editor-input .dx-datagrid .dx-texteditor, .dx-texteditor-input {
  //  color: #ffffff !important;
  //  background: content-box !important;
  //}

  // Row filter - Menú
  .bagotable.editor-icon-filter-row .dx-datagrid-container.dx-filter-menu .dx-menu-item-has-icon .dx-icon, .dx-datagrid.dx-filter-menu .dx-menu-item-has-icon .dx-icon {
    color: #8e969d !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Edit
  /**********************************************************************************************************************/
  .bagotable .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit-with-icons .dx-link {
    color: #8e969d !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Varios
  /**********************************************************************************************************************/

  .bagotable .dx-texteditor.dx-editor-outlined {
    background: #ffffff;
    border: 1px solid #8e969d;
  }

  .bagotable .dx-searchbox .dx-placeholder:before, .dx-searchbox .dx-texteditor-input {
    background-color: #8e969d !important;
    font-size: 12px;
  }

  .bagotable .dx-searchbox .dx-icon-search:before {
    background-color: #8e969d !important;
  }

  .bagotable .dx-icon-clear:before {
    background-color: #8e969d !important;
  }

  .bagotable .dx-checkbox-checked .dx-checkbox-icon:before {
  }

  .bagotable.border-rounded-gray {
    border: 1px solid #ccc;
    border-radius: 33px;
    padding: 10px !important;
    box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
    transition: all 0.3s ease-in-out;
  }

  .bagotable .dx-overlay-wrapper, .dx-overlay-wrapper *, .dx-overlay-wrapper :after, .dx-overlay-wrapper :before, .dx-overlay-wrapper:after, .dx-overlay-wrapper:before {
    font-size: 13px;
  }

  // Tamaño de Popup
  //.bagotable .dx-overlay-wrapper, .dx-overlay-content {
  //  width: 350px !important;
  //}

  .bagotable .dx-checkbox-checked, .dx-checkbox-icon {
    font: 16px/16px DXIcons;
  }

  .bagotable .dx-datagrid-filter-panel .dx-icon-filter {
  }

  .bagotable .dx-datagrid-filter-panel .dx-datagrid-filter-panel-text {
  }

  .bagotable .dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused) > td:not(.dx-row-focused) {
    background-color: #c6dff5 !important;
    color: #226183 !important;
  }

  .bagotable.selection-indicator-info .dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused) > td:not(.dx-row-focused) {
    //background-color: rgba(233, 199, 97, 0.68) !important;
    background-color: rgba(97, 233, 228, 0.68) !important;
    color: #000000 !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Selected Row
  /**********************************************************************************************************************/

  .bagotable.selection-row-bago .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
    background-color: #8e969d !important;
    color: #ffffff !important;
  }

  .bagotable.selection-row-primary .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
    background-color: rgba(70, 128, 255, 0.68) !important;
    color: #ffffff !important;
  }

  .bagotable.selection-row-info .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
    background-color: rgba(0, 188, 212, 0.68) !important;
    color: #ffffff !important;
  }

  .bagotable.selection-row-warning .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
    background-color: rgba(255, 186, 87, 0.68) !important;
    color: #000000 !important;
  }

  .bagotable.selection-row-danger .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
    background-color: rgba(255, 82, 82, 0.68) !important;
    color: #ffffff !important;
  }

  .bagotable.selection-row-success .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
    background-color: rgba(156, 204, 101, 0.68) !important;
    color: #ffffff !important;
  }

  .bagotable.selection-row-black .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
    background-color: rgba(0, 0, 0, 0.68) !important;
    color: #ffffff !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Pager Footer
  /**********************************************************************************************************************/

  // Mark Page Select
  .bagotable .dx-pager .dx-page-sizes .dx-selection {
    font-weight: bold;
    color: #ffffff;
    border-color: transparent;
    background-color: #8e969d !important;
  }

  .bagotable .dx-pager .dx-pages .dx-selection {
    font-weight: bold;
    color: #ffffff;
    border-color: transparent;
    background-color: #8e969d !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Footer Group
  /**********************************************************************************************************************/

  .bagotable.total-group-footer-gray-light .dx-row.dx-datagrid-group-footer > td {
    background-color: #b5b5b7 !important;
    color: #ffffff !important;
  }

  .bagotable.total-group-footer-gray .dx-row.dx-datagrid-group-footer > td {
    background-color: #8e969d !important;
    color: #ffffff !important;
  }

  .bagotable.total-group-footer-black .dx-row.dx-datagrid-group-footer > td {
    background-color: #000000 !important;
    color: #ffffff !important;
  }

  .bagotable.total-group-footer-warning .dx-row.dx-datagrid-group-footer > td {
    background-color: #ffba57 !important;
    color: #ffffff !important;
  }

  .bagotable.total-group-footer-success .dx-row.dx-datagrid-group-footer > td {
    background-color: #9ccc65 !important;
    color: #ffffff !important;
  }

  .bagotable.total-group-footer-primary .dx-row.dx-datagrid-group-footer > td {
    background-color: #4680ff !important;
    color: #ffffff !important;
  }

  /**********************************************************************************************************************/

  /**********************************************************************************************************************/
  // dx-datagrid: Footer Summary
  /**********************************************************************************************************************/
  .bagotable .dx-datagrid-total-footer {
    background-color: #ffba57 !important;
    height: 35px;
  }

  .bagotable.total-footer-gray .dx-datagrid-total-footer {
    background-color: #8e969d !important;
    height: 35px;
  }

  .bagotable.total-footer-black .dx-datagrid-total-footer {
    background-color: #000000 !important;
    height: 35px;
  }

  .bagotable.total-footer-bago .dx-datagrid-total-footer {
    background-color: #8e969d !important;
    height: 35px;
  }

  .bagotable.total-footer-warning .dx-datagrid-total-footer {
    background-color: #ffba57 !important;
    height: 35px;
  }

  .bagotable.total-footer-info .dx-datagrid-total-footer {
    background-color: #00bcd4 !important;
    height: 35px;
  }

  .bagotable.total-footer-danger .dx-datagrid-total-footer {
    background-color: #ff5252 !important;
    height: 35px;
  }

  .bagotable.total-footer-success .dx-datagrid-total-footer {
    background-color: #9ccc65 !important;
    height: 35px;
  }

  .bagotable.total-footer-primary .dx-datagrid-total-footer {
    background-color: #4680ff !important;
    height: 35px;
  }

  .bagotable.total-footer-secondary .dx-datagrid-total-footer {
    background-color: #6c757d !important;
    height: 35px;
  }

  .bagotable .dx-datagrid-summary-item.dx-datagrid-text-content {
    color: white;
    //font-size: 13px;
  }

  .bagotable .dx-datagrid-total-footer > .dx-datagrid-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .bagotable.header-bold .dx-datagrid .dx-datagrid-headers {
    //background-color: #8e969d !important;
    color: #ffffff !important;
    //color: #8e969d !important;
    font-weight: bold !important;
  }

  .dx-treelist.bagotreelist.header-bold .dx-treelist-headers {
    //background-color: #8e969d !important;
    color: #ffffff !important;
    //color: #8e969d !important;
    font-weight: bold !important;
  }

    .rounded {
      border-radius: .75rem!important;
    }
