@import "configColor";

.modal-title {
  font-size: 22px;
  font-weight: bold;
}

.label-bago-float {
  font-weight: bold;
  font-size: 13px;
}

.text-bago-primary {
  color: $text-base-color !important;
  font-size: 13px;
  text-align: justify;
  text-justify: inter-word;
}

.inline-label-no-overflow {
  overflow: hidden;
  float: left;
  margin-top: 14px;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  text-justify: inter-word;
}

.color-bago {
  color: $bago-color !important;
  font-weight: bold;
}

.dynamic-form-section {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ebebeb;
}

.modal-subtitle {
  font-size: 15px;
  font-weight: bold;
}

.text-warning {
  color: rgb(123, 76, 5) !important;
}
