@import "configColor";

.field-bag {
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #727272);
  font-size: 13px;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.field-bag:focus::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field-bag:focus::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field {
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
  --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));
  border-radius: 5px;
  display: var(--fieldDisplay, inline-flex);
  position: relative;
  font-size: var(--fieldFontSize, 1rem);
}

.field-bag {
  box-sizing: border-box;
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, 0.25));
}

.field-bag:focus {
  outline: none;
}

.field-bag::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field-bag::-moz-placeholder {
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field-bag:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: .2s;
}

.field-bag:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: .2s;
}

.field-label-wrap-bag {
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field-label-wrap-bag::after {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;

  position: absolute;
  bottom: 0;
  left: 0;
}

.field-bag:focus ~ .field-label-wrap-bag::after {
  opacity: 1;
}

.field-label-bag {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);
  line-height: 1;
  font-size: var(--fieldHintFontSize, 13px);
  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
  will-change: bottom, opacity, font-size;
  color: #525252;
}

.field-bag:focus ~ .field-label-wrap-bag .field-label-bag,
.field-bag:not(:placeholder-shown) ~ .field-label-wrap-bag .field-label-bag {
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
  top: var(--fieldHintTopHover, .25rem);
}

// .field-over .field-label-wrap-bag::after{
//   border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
//   will-change: opacity, height;
//   transition: height .2s ease-out, opacity .2s ease-out;
// }

// .field-over .field-bag:focus ~ .field-label-wrap-bag::after{
//   height: 100%;
//   border-radius: 5px;
// }
// .field{
//   --fieldBorderColor: #D1C4E9;
//   --fieldBorderColorActive: #8f11a9;
// }


// body .p-component {

// }

.p-multiselect {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
}

.p-multiselect-filter-container {
  position: relative;
  width: 1000%;
  flex: 1 1 auto;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0 none;
  color: #2f3031;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  background: #ffc9fe;
  color: #3b3b3b;
  border-radius: 8px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #495057;
  background: #fce9ff;
  border: 0.01rem solid #fff;
}

.p-multiselect-panel .p-multiselect-header {
  padding: 0.5rem 1rem;
  border-bottom: 0 none;
  color: #495057;
  background: #ffffff;
  margin: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border: 2px solid #ced4da;
  background: #ffffff;
}

.pi-times:before {
  content: "\e90b";
  color: red;
}

.pi-check:before {
  content: "\e909";
  color: #047e04;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #b5b6b6;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon:hover {
  border: 1px solid #aeafaf;
  background: #ffffff;
  border-radius: 3px;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: #fafafa;
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #ced4da;
  background: #ffffff;
  width: 25px;
  height: 25px;
  color: #495057;
  border-radius: 3px;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border: 1px solid #aeafaf;
  border-color: #ced4da;
  background: white;
  color: white;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  border: 1px solid #aeafaf;
  border-color: #ced4da;
  background: white;
  color: white;
}
