@import "configColor";

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: 14px;
  color: $text-color;
}

.p-datatable .p-datatable-header {
  background: #ffffff;
  color: #495057;
  border: 0 none #e9ecef;
  border-width: 1px 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #ffffff;
  background: $bago-color;
  transition: box-shadow 0.2s;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0 !important;
  border-right: 1px solid #f0f0f0 !important;
  font-size: 12px;
}

.title-float {
  background-color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
}

.title-float-liberacion {
  background-color: white;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: #eaebec;
  border-color: #d0d3d6;
  color: #000000;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fcfcfc;
  font-weight: bold;
}
