<div class="container">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- valor -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="valor"
              >
                Valor: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                  <p-inputNumber
                    id="valor"
                    [formControlName]="'valor'"
                    type="number"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                   >
                  </p-inputNumber>
              </div>
              <small *ngIf="estructuraErrores.valor.length>0 && estructuraErrores.valor[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.valor">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- descripcion -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="descripcion"
              >
                Descripción: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="descripcion"
                    [formControlName]="'descripcion'"
                    type="text"
                    class="form-control-sm field-bag"

                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la descripción</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.descripcion.length>0 && estructuraErrores.descripcion[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.descripcion">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- esPrincipal -->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-4">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--              >-->
<!--                Es Principal:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="row">-->
<!--                  <p-inputSwitch-->
<!--                    class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                    [formControlName]="'esPrincipal'"-->
<!--                  ></p-inputSwitch>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.esPrincipal.length>0 && estructuraErrores.esPrincipal[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.esPrincipal">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


      </div>
    </div>
  </form>
</div>
