<div class="container">
  <div class="row espaciado-menu">
    <div class="col-sm-3" *ngFor="let opcionMenu of arregloItemsMenuInicio">
      <div class="contenedor-item-menu animated fadeInUp">
        <div class="row hvr-float" (click)="irARuta(opcionMenu.ruta)">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12" style="height: 160px;">
                <h2 class="titulo-item-menu">{{opcionMenu.texto}}</h2>
                <img class="img-fluid imagen-item-menu rounded mx-auto d-block" [src]="opcionMenu.imagen"
                     [alt]="opcionMenu.texto"
                     [title]="opcionMenu.texto">
              </div>
              <div class="col-lg-12">
                <p class="texto-item-menu">{{opcionMenu.texto}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
