<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">
        <!-- fechaEmision -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="fechaEmision"
              >
                Fecha de Emisión: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="fechaEmision"
                    [formControlName]="'fechaEmision'"
                    type="date"
                    class="form-control-sm field-bag"
                    placeholder="EJ: 3"
                    aria-describedby="fechaEmisionHelp"
                    autocomplete="off"
                    min="2000-01-01"
                    max="2050-12-31"
                    [placeholder]="'EJM: 12/25/2022'"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la fecha de emisión EJM: 12/25/2022</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.fechaEmision.length>0 && estructuraErrores.fechaEmision[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.fechaEmision">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- numero -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="numero"
              >
                N° Factura:
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="numero"
                    [formControlName]="'numero'"
                    type="text"
                    pKeyFilter="pint"
                    class="form-control-sm field-bag"
                    placeholder="EJ: Factura-001"
                    aria-describedby="numeroHelp"
                    autocomplete="off"
                    [placeholder]="'EJM: 00100100122'"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el número de factura EJM: 00100100122</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.numero.length>0 && estructuraErrores.numero[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.numero">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- nombreArchivo -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="nombreArchivo"
              >
                Archivo:
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <input
                    formControlName="nombreArchivo"
                    type="file"
                    class="form-control"
                    id="nombreArchivo"
                    aria-describedby="nombreArchivofHelp"
                    accept="application/pdf"
                    (change)="cargarPdf($event)"
                  >
                </label>
              </div>
              <small *ngIf="estructuraErrores.nombreArchivo.length>0 && estructuraErrores.nombreArchivo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.nombreArchivo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
            <div
              *ngIf="data?.nombreArchivo"
              class="col-sm-1">
              <div class="row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-download"
                  title="Descargar Factura"
                  class="p-button-primary"
                  (click)="descargar()">
                </button>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </form>
</div>
