<div class="container">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div
        class="alert alert-primary" role="alert">
        Busque y seleccione una <b>Forma de Pago</b> ya registrada en el sistema ó de clic en el botón
        <b><i class="pi pi-plus"></i></b> para registrar una nueva.
      </div>
      <div class="row">
        <!-- fechaPago -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="fechaPago"
              >
                Fecha de Pago: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="fechaPago"
                    [formControlName]="'fechaPago'"
                    type="date"
                    class="form-control-sm field-bag"
                    placeholder="EJ: 3"
                    aria-describedby="fechaPagoHelp"
                    autocomplete="off"
                    min="2000-01-01"
                    max="2050-12-31"
                    [placeholder]="'EJM: 12/25/2022'"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la fecha del Pago EJM: 12/25/2022</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.fechaPago.length>0 && estructuraErrores.fechaPago[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.fechaPago">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- valorAPagar -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="valorAPagar"
              >
                Valor: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="valorAPagar"
                    [formControlName]="'valorAPagar'"
                    type="number"
                    pKeyFilter="money"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: 20.00"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Valor a Pagar EJM: 20.00</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.valorAPagar.length>0 && estructuraErrores.valorAPagar[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.valorAPagar">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- estadoAbono -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="estadoAbono"
              >
                Estado: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <p-dropdown
                  id="estadoAbono"
                  [options]="estadosAbono"
                  formControlName="estadoAbono"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Seleccione una opción"
                  [showClear]="true"
                ></p-dropdown>
              </div>
              <small *ngIf="estructuraErrores.estadoAbono.length>0 && estructuraErrores.estadoAbono[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.estadoAbono">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- formaPago -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="formaPago"
              >
                Forma de Pago:
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <p-autoComplete
                    id="formaPago"
                    [inputId]="'formaPago'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'formaPago'"
                    [suggestions]="formaPagos"
                    (completeMethod)="buscarFormaPagos($event)"
                    [placeholder]="'Búsque y seleccione una forma de Pago'"
                    [delay]="1000"
                    field="nombre"
                    [size]="999"
                    [forceSelection]="true"
                  >
                    <ng-template let-formaPago pTemplate="item">
                      {{ formaPago.nombre }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.formaPago.length>0 && estructuraErrores.formaPago[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.formaPago">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
            <div class="col-sm-1">
              <div class="row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  title="Agregar Forma de Pago"
                  class="p-button-primary"
                  (click)="agregarFormaPago()">
                </button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
