<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- banco -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="banco"
              >
                Banco: *
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <p-autoComplete
                    id="banco"
                    [inputId]="'banco'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'banco'"
                    [suggestions]="bancos"
                    (completeMethod)="buscarBancos($event)"
                    [placeholder]="'Búsque y seleccione una banco'"
                    [delay]="1000"
                    field="nombre"
                    [size]="999"
                    [forceSelection]="true"
                  >
                    <ng-template let-banco pTemplate="item">
                      {{ banco.nombre }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.banco.length>0 && estructuraErrores.banco[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.banco">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
            <div class="col-sm-1">
              <div class="row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  title="Agregar Banco"
                  class="p-button-primary"
                  (click)="agregarBanco()">
                </button>
              </div>

            </div>
          </div>
        </div>

        <!-- tipoCuenta -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="tipoCuenta"
              >
                Tipo: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <p-dropdown
                  id="tipoCuenta"
                  [options]="tiposCuentaBanco"
                  formControlName="tipoCuenta"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Seleccione una opción"
                  [showClear]="true"
                ></p-dropdown>
              </div>
              <small *ngIf="estructuraErrores.tipoCuenta.length>0 && estructuraErrores.tipoCuenta[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.tipoCuenta">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- numero -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="numero"
              >
                Número: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="numero"
                    [formControlName]="'numero'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: 32242415687"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Número EJM: 32242415687</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.numero.length>0 && estructuraErrores.numero[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.numero">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- observacion -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="observacion"
              >
                Observación:
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <textarea
                    id="observacion"
                    [formControlName]="'observacion'"
                    type="text"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    autocomplete="off"
                    rows="1"
                    placeholder="EJM: solo en efectivo"
                  >
                  </textarea>
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la observacion EJM: pago solo en efectivo</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.observacion.length>0 && estructuraErrores.observacion[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.observacion">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
