<div class="p-field p-grid">

  <label for="imagen" class="p-col-fixed">Imagen *</label>
  <div class="p-col-12 p-md-12">
    <input
      *ngIf="!ocultarInput"
      id="imagen"
      class="inputfile "
      name="imagenEmisor"
      type="file"
      placeholder="Seleccionar imagen de emisor"
      accept=".jpg,.png,.jpeg"
      (change)="onBasicUploadAuto($event)"
    />

      <div *ngIf="src">
        <hr>
        <div class="col-sm-12">
            <img
              [src]="src"
              class="responsive"
              width="40%" height="40%"
            >
        </div>

      </div>

  </div>

</div>

