<div class="row">
  <div mat-dialog-content>
    <div class="col-sm-12">
      <app-formulario-gasto-factura
        [gastoPrevio]="gastoPrevio"
        [facturaPrevia]="facturaPrevia"
        [soloVer]="data?.soloVer"
        (eventoFormularioGasto)="obtenerFormularioGasto($event)"
        (eventoFormularioFactura)="obtenerFormularioFactura($event)"
      ></app-formulario-gasto-factura>
    </div>
  </div>
  <br>
  <div mat-dialog-actions class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex flex-row-reverse text-center">
          <button
            *ngIf="!data.soloVer"
            (click)="guardarFinalizarGasto(enumsEstadoGastoAccion.FINALIZADO)"
            [disabled]="!validarBotones()"
            pButton pRipple type="button" class="p-button-times-circle p-button-primary">
            FINALIZAR
            <i class="pi pi-check-circle"
               style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
          </button>
          <button
            *ngIf="!data.soloVer"
            (click)="guardarFinalizarGasto(enumsEstadoGastoAccion.GUARDADO)"
            [disabled]="!validarBotones()"
            pButton pRipple type="button" class="p-button-times-circle p-button-success">
            GUARDAR
            <i class="pi pi-check-circle"
               style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
          </button>
          <button
            (click)="cancelar()"
            pButton pRipple type="button" class="p-button-times-circle p-button-secondary text-center">
            CANCELAR
            <i class="pi pi-times-circle"
               style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

