<div class="">
  <br>
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- esConsumidorFinal -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-4">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
              >
                Es Consumidor Final:
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <p-inputSwitch
                    [disabled]="data?.estadoAccion === estadosTrabajo.Finalizado"
                    [formControlName]="'esConsumidorFinal'"
                    (onChange)="cambioConsumidorFinal($event)"
                  ></p-inputSwitch>
                </label>
              </div>
              <small *ngIf="estructuraErrores.esConsumidorFinal.length>0 && estructuraErrores.esConsumidorFinal[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.esConsumidorFinal">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

<!--        &lt;!&ndash; cliente &ndash;&gt;-->
<!--        <div-->
<!--          *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"-->
<!--          class="col-md-6 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-3">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="cliente"-->
<!--              >-->
<!--                Cliente:*-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="row">-->
<!--                <label class="">-->
<!--                  <p-autoComplete-->
<!--                    id="cliente"-->
<!--                    [inputId]="'cliente'"-->
<!--                    [dropdown]="true"-->
<!--                    [emptyMessage]="'No se encontro coincidencias.'"-->
<!--                    [formControlName]="'cliente'"-->
<!--                    [suggestions]="clientes"-->
<!--                    (completeMethod)="buscarClientes($event)"-->
<!--                    [placeholder]="'Búsque y seleccione un cliente'"-->
<!--                    [delay]="1000"-->
<!--                    field="informacionTributaria.nombreComercial"-->
<!--                    [size]="999"-->
<!--                    [forceSelection]="true"-->
<!--                    (onSelect)="setearFormulario($event)"-->
<!--                    [disabled]="data?.estadoAccion === estadosTrabajo.Finalizado"-->
<!--                  >-->
<!--                    <ng-template let-cliente pTemplate="item">-->
<!--                      {{ cliente.informacionTributaria.nombreComercial }}-->
<!--                    </ng-template>-->
<!--                  </p-autoComplete>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.cliente.length>0 && estructuraErrores.cliente[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.cliente">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--            <div-->
<!--              *ngIf="data?.estadoAccion !== estadosTrabajo.Finalizado"-->
<!--              class="col-sm-1">-->
<!--              <div class="row">-->
<!--                <button-->
<!--                  pButton-->
<!--                  pRipple-->
<!--                  type="button"-->
<!--                  icon="pi pi-plus"-->
<!--                  title="Agregar Proveedor"-->
<!--                  class="p-button-primary"-->
<!--                  (click)="agregarProveedor()">-->
<!--                </button>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </form>
</div>
