<div class="row">
  <div class="col-sm-12">
    <!-- Datos -->
    <dx-data-grid
      #dxDtgData
      class="bagotable border-rounded-gray header-bold header-label-13 header-filter cell-label-12 total-footer-gray"
      keyExpr="id"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [columnMinWidth]="50"
      [dataSource]="datos"
      [disabled]="disabledTable"
      [hoverStateEnabled]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnLines]="true"
      [showRowLines]="false"
      [title]="''"
      (onToolbarPreparing)="onToolbarPreparing($event)"
    >
      <dxo-grouping
        [autoExpandAll]="true"
        [contextMenuEnabled]="true"
        [expandMode]="'rowClick'"
      >
      </dxo-grouping>

      <dxo-group-panel
        [visible]="true"
      >
      </dxo-group-panel>

      <dxo-export
        fileName="SIB_FORM_REGISTROS"
        [allowExportSelectedData]="true"
        [enabled]="true"
        [texts]="{exportTo: 'Exportar datos a Excel'}"
      >
      </dxo-export>

      <dxo-column-chooser
        mode="dragAndDrop"
        [allowSearch]="true"
        [enabled]="true"
      >
      </dxo-column-chooser>

      <dxo-sorting
        mode="multiple"
      >
      </dxo-sorting>

      <dxo-state-storing
        type="localStorage"
        storageKey="dxDtgDataFormInvLineas"
        [enabled]="false"
      >
      </dxo-state-storing>

      <dxo-header-filter
        [visible]="true"
      >
      </dxo-header-filter>

      <dxo-filter-row
        [visible]="true"
      >
      </dxo-filter-row>

      <dxo-filter-panel
        [filterEnabled]="true"
        [visible]="true"
      >
      </dxo-filter-panel>

      <dxo-keyboard-navigation
        [editOnKeyPress]="true"
        [enabled]="true"
        [enterKeyAction]="'moveFocus'"
        [enterKeyDirection]="'row'">
      </dxo-keyboard-navigation>

      <dxo-scrolling
        [columnRenderingMode]="'virtual'"
        [rowRenderingMode]="'virtual'"
      ></dxo-scrolling>

      <dxo-paging
        [enabled]="true"
        [pageSize]="paginationStart"
      >
      </dxo-paging>

      <dxo-pager
        [visible]="true"
        [displayMode]="'full'"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="pagination"
        [showInfo]="true"
        [showNavigationButtons]="true"
        infoText="Page #{0}. Total: {1} ({2} items)"
      >
      </dxo-pager>


      <dxi-column
        [caption]="'Razón Social'"
        [dataField]="'informacionTributaria.razonSocial'"
        [alignment]="'center'"
        [minWidth]="200"
        [width]="200"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Nombre Comercial'"
        [dataField]="'informacionTributaria.nombreComercial'"
        [alignment]="'center'"
        [minWidth]="200"
        [width]="200"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Identificación'"
        [dataField]="'informacionTributaria.identificacion'"
        [alignment]="'center'"
        [minWidth]="200"
        [width]="200"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Teléfono'"
        [dataField]="'informacionTributaria.telefono'"
        [alignment]="'center'"
        [minWidth]="200"
        [width]="200"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Dirección'"
        [dataField]="'informacionTributaria.direccion'"
        [alignment]="'center'"
        [minWidth]="200"
        [width]="200"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Cuentas de Banco'">
        <dxi-column
          [caption]="'Número'"
          [dataField]="'numero'"
          [alignment]="'center'"
          [minWidth]="200"
          [width]="200"
          [allowFiltering]="true"
          [allowSorting]="true"
          [allowSearch]="true"
          [calculateCellValue]="setearCuentaBancoNumero"
          [cellTemplate]="'numeroCell'"
        >
          <div *dxTemplate="let data of 'numeroCell'">
            <div
              *ngIf="data.data.cuentasBanco?.length"
              class="">
              <div
                *ngFor="let cuenta of data.data.cuentasBanco"
                class="">
                {{cuenta?.numero}}
              </div>
            </div>
            <div
              *ngIf="!data.data.cuentasBanco?.length"
              class="">
              {{'No Tiene'}}
            </div>
          </div>

        </dxi-column>

        <dxi-column
          [caption]="'Tipo'"
          [dataField]="'tipo'"
          [alignment]="'center'"
          [minWidth]="200"
          [width]="200"
          [allowFiltering]="true"
          [allowSorting]="true"
          [allowSearch]="true"
          [calculateCellValue]="setearCuentaBancoTipo"
          [cellTemplate]="'tipoCuentaCell'"
        >
          <div *dxTemplate="let data of 'tipoCuentaCell'">
            <div
              *ngIf="data.data.cuentasBanco?.length"
              class="">
              <div
                *ngFor="let cuenta of data.data.cuentasBanco"
                class="">
                {{setearTipoCuenta(cuenta)}}
              </div>
            </div>
            <div
              *ngIf="!data.data.cuentasBanco?.length"
              class="">
              {{'No Tiene'}}
            </div>
          </div>
        </dxi-column>

        <dxi-column
          [caption]="'Banco'"
          [dataField]="'banco'"
          [alignment]="'center'"
          [minWidth]="200"
          [width]="200"
          [allowFiltering]="true"
          [allowSorting]="true"
          [allowSearch]="true"
          [calculateCellValue]="setearBanco"
          [cellTemplate]="'bancoCell'"
        >
          <div *dxTemplate="let data of 'bancoCell'">
            <div
              *ngIf="data.data.cuentasBanco?.length"
              class="">
              <div
                *ngFor="let cuenta of data.data.cuentasBanco"
                class="">
                {{cuenta?.banco?.nombre}}
              </div>
            </div>
            <div
              *ngIf="!data.data.cuentasBanco?.length"
              class="">
              {{'No Tiene'}}
            </div>
          </div>

        </dxi-column>
      </dxi-column>


      <dxo-summary>
        <dxi-total-item
          alignment="right"
          column="dxcActions"
          displayFormat="Ítems {0}"
          summaryType="count"
        >
        </dxi-total-item>
      </dxo-summary>


    </dx-data-grid>
    <!-- Datos -->
  </div>
</div>

