<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">



        <!-- nombreComercial -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="nombreComercial"
              >
                Nombre Comercial: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="nombreComercial"
                    [formControlName]="'nombreComercial'"
                    type="text"
                    class="form-control-sm field-bag"

                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Nombre Comercial</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.nombreComercial.length>0 && estructuraErrores.nombreComercial[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.nombreComercial">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- razonSocial -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="razonSocial"
              >
                Razón Social: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="razonSocial"
                    [formControlName]="'razonSocial'"
                    type="text"
                    class="form-control-sm field-bag"

                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la Razón Social</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.razonSocial.length>0 && estructuraErrores.razonSocial[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.razonSocial">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- identificacion -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="identificacion"
              >
                Identificación: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="identificacion"
                    [formControlName]="'identificacion'"
                    type="text"
                    class="form-control-sm field-bag"
                    pInputText pKeyFilter="int"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la identificación</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.identificacion.length>0 && estructuraErrores.identificacion[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.identificacion">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- dirección -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="direccion"
              >
                Dirección: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="direccion"
                    [formControlName]="'direccion'"
                    type="text"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la dirección</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.direccion.length>0 && estructuraErrores.direccion[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.direccion">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- telefono -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="telefono"
              >
                Teléfono: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="telefono"
                    [formControlName]="'telefono'"
                    type="text"
                    class="form-control-sm field-bag"
                    pInputText pKeyFilter="int"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el telefóno</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.telefono.length>0 && estructuraErrores.telefono[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.telefono">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- correo -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="correo"
              >
                Correo:
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="correo"
                    [formControlName]="'correo'"
                    type="email"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: jon-snow@got.com"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el correo EJM: jon-snow@got.com</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.correo.length>0 && estructuraErrores.correo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.correo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <hr>

        <div class="col-sm-12">
          <app-cargar-imagen
            [height]="'300px'"
            [width]="'300px'"
            [pathImagen]="setearUrlImagen()"
            (emitirImagen)="cargarImagen($event)"
          ></app-cargar-imagen>
        </div>
      </div>
    </div>
  </form>
</div>
