<div class="container">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- seccion -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="seccion"
              >
                Sección: *
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <p-autoComplete
                    id="seccion"
                    [inputId]="'seccion'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'seccion'"
                    [suggestions]="secciones"
                    (completeMethod)="buscarSecciones($event)"
                    [placeholder]="'Búsque y seleccione una sección'"
                    [delay]="1000"
                    field="nombre"
                    [size]="999"
                    [forceSelection]="true"
                  >
                    <ng-template let-seccion pTemplate="item">
                      {{ seccion.nombre }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.seccion.length>0 && estructuraErrores.seccion[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.seccion">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
            <div class="col-sm-1">
              <div class="row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  title="Agregar Sección"
                  class="p-button-primary"
                  (click)="agregarSeccion()">
                </button>
              </div>
            </div>
          </div>
        </div>


        <!-- nombre -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="nombre"
              >
                Nombre: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="nombre"
                    [formControlName]="'nombre'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: subsección"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el nombre EJM: subsección</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.nombre.length>0 && estructuraErrores.nombre[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.nombre">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>



      </div>
    </div>
  </form>
</div>
