<div>
  <div class="modal-title text-center">
    Repuesto
    <hr>
  </div>
  <div mat-dialog-content>
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel header="Información (*)">
        <div class="row">
          <div class="col-sm-12">
            <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*).'}}</p>
          </div>
        </div>
        <br>
        <app-formulario-producto
          [soloVer]="data.soloVer"
          [data]="productoACrear"
          (datosFormulario)="crearEditar($event)"
        ></app-formulario-producto>
      </p-tabPanel>
      <p-tabPanel header="Imagen">
        <div class="row">
          <div class="col-sm-12">
            <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*).'}}</p>
          </div>
        </div>
        <br>
        <app-cargar-imagen
          [pathImagen]="setearUrlImagen()"
          (emitirImagen)="cargarImagen($event)"
        ></app-cargar-imagen>
      </p-tabPanel>
<!--      <p-tabPanel header="Proveedores">-->
<!--        <app-tabla-proveedor-articulo-->
<!--          [idArticulo]="data.producto?.id"-->
<!--          (proveedoresArticulo)="setearProveedoresArticulo($event)"-->
<!--        ></app-tabla-proveedor-articulo>-->
<!--      </p-tabPanel>-->
<!--      <p-tabPanel header="Impuestos">-->
<!--        <app-tabla-articulo-impuesto-->
<!--          [idArticulo]="data.producto?.id"-->
<!--          (articulosImpuesto)="setearArticulosImpuestos($event)"-->
<!--        ></app-tabla-articulo-impuesto>-->
<!--      </p-tabPanel>-->
    </p-tabView>
  </div>


  <div class="d-flex flex-row-reverse mt-5" mat-dialog-actions>
    <div
      *ngIf="!data.soloVer"
      class="p-2">
      <button
        class="btn btn-success"
        [disabled]="!productoACrear"
        (click)="enviarDatosFormulario()"
      >
        <i class="pi pi-save" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
        GUARDAR
      </button>
    </div>
    <div class="p-2">
      <button
        class="btn btn-secondary"
        (click)="cancelarModal()">
        <i class="pi pi-times" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
        CANCELAR
      </button>
    </div>
  </div>

</div>
