<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <p>
      Llene todos los campos que son obligatorios (*).
    </p>
    <br>
    <div class="form-group">
      <div class="row">
        <h6>
          <b>Información del Cliente / Propietario</b>
        </h6>
        <hr>

        <div class="row">
          <!-- cliente -->
          <div
            class="alert alert-primary" role="alert">
            Busque y seleccione un <b>cliente / propietario</b> ya registrado en el sistema ó de clic en el botón
            <b><i class="pi pi-plus"></i></b> para registrar uno nuevo.
            <br>
            Si quiere cambiar la información de un <b>cliente / propietario</b> ya registrado de clic en el botón
            <b><i class="pi pi-pencil"></i></b>
          </div>
          <div
            class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-1">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="cliente"
                >
                  Cliente: *
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <p-autoComplete
                      id="cliente"
                      [inputId]="'cliente'"
                      [dropdown]="true"
                      [emptyMessage]="'No se encontro coincidencias.'"
                      [formControlName]="'cliente'"
                      [suggestions]="clientes"
                      (completeMethod)="buscarClientes($event)"
                      [placeholder]="'Búsque por razón social, nombre comercial o identificación'"
                      [delay]="1000"
                      field="label"
                      [size]="999"
                      [forceSelection]="true"
                      (onSelect)="seleccionoClienteAutoncomplete()"
                      (onKeyUp)="seleccionoClienteAutoncomplete()"
                      [disabled]="soloVer"
                    >
                      <ng-template let-cliente pTemplate="item">
                        {{ cliente.label }}
                      </ng-template>
                    </p-autoComplete>
                  </label>
                </div>
                <small *ngIf="estructuraErrores.cliente.length>0 && estructuraErrores.cliente[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.cliente">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
              <div class="col-sm-1">
                <div class="row">
                  <button
                    *ngIf="!(soloVer)"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    title="Registrar Cliente"
                    class="p-button-primary"
                    (click)="agregarCliente()">
                  </button>
                  <button
                    *ngIf="!(soloVer)"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-pencil"
                    title="Cambiar información Cliente"
                    class="p-button-primary"
                    (click)="editarCliente()">
                  </button>
                </div>

              </div>
            </div>
          </div>

          <!-- nombreComercial -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-3">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="nombreComercial"
                >
                  Nombre Comercial:
                </label>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="nombreComercial"
                      [formControlName]="'nombreComercial'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: Ferrisariato"
                      aria-describedby="parametroCategoriaoHelp"
                      [readonly]="true"
                    >
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- razonSocial -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-3">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="razonSocial"
                >
                  Razón Social:
                </label>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="razonSocial"
                      [formControlName]="'razonSocial'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: Oscar Sambache"
                      aria-describedby="parametroCategoriaoHelp"
                      [readonly]="true"
                    >
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- identificacion -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="identificacion"
                >
                  Identificación:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="identificacion"
                      [formControlName]="'identificacion'"
                      type="text"
                      class="form-control-sm field-bag"
                      pInputText pKeyFilter="int"
                      aria-describedby="parametroCategoriaoHelp"
                      placeholder="EJM: 172418894"
                      [readOnly]="true"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.identificacion.length>0 && estructuraErrores.identificacion[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.identificacion">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- dirección -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="direccion"
                >
                  Dirección:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="direccion"
                      [formControlName]="'direccion'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: Av El Inca"
                      aria-describedby="parametroCategoriaoHelp"
                      [readOnly]="true"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.direccion.length>0 && estructuraErrores.direccion[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.direccion">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- telefono -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="telefono"
                >
                  Teléfono:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="telefono"
                      [formControlName]="'telefono'"
                      type="text"
                      class="form-control-sm field-bag"
                      pInputText pKeyFilter="int"
                      aria-describedby="parametroCategoriaoHelp"
                      placeholder="EJM: 0993998734 ó 2424150"
                      [readOnly]="true"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.telefono.length>0 && estructuraErrores.telefono[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.telefono">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- correo -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="correo"
                >
                  Correo:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="correo"
                      [formControlName]="'correo'"
                      type="email"
                      class="form-control-sm field-bag"
                      aria-describedby="parametroCategoriaoHelp"
                      placeholder="EJM: jon-snow@gto.com"
                      [readOnly]="true"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.correo.length>0 && estructuraErrores.correo[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.correo">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

        </div>

        <br>
        <br>
        <h6>
          <b>Información del Vehículo</b>
        </h6>
        <hr>

        <div class="row">

          <div
            class="alert alert-primary" role="alert">
            Busque y seleccione un <b>vehículo</b> ya registrado en el sistema ó de clic en el botón
            <b><i class="pi pi-plus"></i></b> para registrar uno nuevo.
            <br>
            Si quiere cambiar la información de un <b>vehículo</b> ya registrado de clic en el botón
            <b><i class="pi pi-pencil"></i></b>
          </div>

          <!-- vehiculo -->
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-1">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="vehiculo"
                >
                  Placa: *
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <p-autoComplete
                      id="vehiculo"
                      [inputId]="'vehiculo'"
                      [dropdown]="true"
                      [emptyMessage]="'No se encontro coincidencias.'"
                      [formControlName]="'vehiculo'"
                      [suggestions]="vehiculos"
                      (completeMethod)="buscarVehiculos($event)"
                      [placeholder]="'Búsque por placa'"
                      [delay]="1000"
                      field="placa"
                      [size]="999"
                      [forceSelection]="true"
                      [disabled]="!seleccionoCliente() || soloVer"
                      (onSelect)="seleccionoVehiculoAutoncomplete()"
                      (onKeyUp)="seleccionoVehiculoAutoncomplete()"
                    >
                      <ng-template let-vehiculo pTemplate="item">
                        {{ vehiculo.placa }}
                      </ng-template>
                    </p-autoComplete>
                  </label>
                </div>
                <small *ngIf="estructuraErrores.vehiculo.length>0 && estructuraErrores.vehiculo[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.vehiculo">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
              <div class="col-sm-1">
                <div class="row">
                  <button
                    *ngIf="!(soloVer)"
                    [disabled]="!seleccionoCliente()"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    title="Agregar Vehiculo"
                    class="p-button-primary"
                    (click)="agregarVehiculo()">
                  </button>
                  <button
                    *ngIf="!(soloVer)"
                    [disabled]="!seleccionoCliente()"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-pencil"
                    title="Cambiar Información Vehiculo"
                    class="p-button-primary"
                    (click)="editarVehiculo()">
                  </button>
                </div>

              </div>
            </div>
          </div>

          <!-- marca -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="marca"
                >
                  Marca:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="marca"
                      [formControlName]="'marca'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: Aveo emotion"
                      aria-describedby="parametroCategoriaoHelp"
                      [readOnly]="true"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.marca.length>0 && estructuraErrores.marca[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.marca">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>

            </div>
          </div>

          <!-- modelo -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="modelo"
                >
                  Modelo:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="modelo"
                      [formControlName]="'modelo'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: Aveo emotion"
                      aria-describedby="parametroCategoriaoHelp"
                      [readOnly]="true"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.modelo.length>0 && estructuraErrores.modelo[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.modelo">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- color -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="color"
                >
                  Color:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="color"
                      [formControlName]="'color'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: rojo"
                      aria-describedby="parametroCategoriaoHelp"
                    >
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- chasis -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="chasis"
                >
                  Chasis:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="chasis"
                      [formControlName]="'chasis'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: 123465987"
                      aria-describedby="parametroCategoriaoHelp"
                    >
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- motor -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="motor"
                >
                  Motor:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="motor"
                      [formControlName]="'motor'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: 12345679820"
                      aria-describedby="parametroCategoriaoHelp"
                    >
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- anio -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="anio"
                >
                  Año:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="anio"
                      [formControlName]="'anio'"
                      type="number"
                      class="form-control-sm field-bag"
                      pKeyFilter="pint"
                      aria-describedby="parametroCategoriaoHelp"
                      placeholder="EJM: 2022"
                    >
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
