<div class="row" style="padding-top: 10px;">
  <div class="col-sm-12">
    <button
      *ngIf="!soloVer"
      [disabled]="!tipoGasto"
      (click)="agregarAbonoFactura(undefined, undefined)"
      class="p-button-secondary"
      pButton pRipple label="Agregar Pago" icon="pi pi-plus"></button>
  </div>

  <div class="col-sm-12" style="padding-top: 10px;">
    <div
      *ngIf="!validarValores() && this.abonosFactura?.length"
      class="alert alert-warning" role="alert">
      La suma de pagos/abonos {{totalAbonosFacturaPagados | currency}} debe ser igual o menor al total de la factura {{valorTotalFactura | currency}}
    </div>
  </div>

  <div class="col-sm-12" style="padding-top: 10px;">
    <p-table [columns]="columns" [value]="abonosFactura" responsiveLayout="scroll">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [style.width]="col.width"
            *ngFor="let col of columns">
            <div class="text-center">
              {{col.header}}
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr>
          <td *ngFor="let col of columns">
            <div *ngIf="col.field === 'formaPago'">
              {{rowData.formaPago?.nombre}}
            </div>
            <div *ngIf="col.field === 'valorAPagar'">
              {{(rowData.valorAPagar || 0) | currency}}
            </div>
            <div *ngIf="col.field === 'fechaPago'">
              {{rowData.fechaPago}}
            </div>
            <div *ngIf="col.field === 'estadoAbono'">
              {{estadoAbonoEnum[rowData.estadoAbono]}}
            </div>
            <div *ngIf="col.field === 'id'">
              <div class="row">
                <button
                  *ngIf="!soloVer"
                  (click)="quitar(rowIndex)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-times"
                  title="Eliminar"
                  class="p-button-rounded p-button-danger p-button-text icon-button">
                </button>
                <button
                  *ngIf="!soloVer"
                  (click)="agregarAbonoFactura(rowData, rowIndex)"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  title="Editar"
                  class="p-button-rounded p-button-success p-button-text icon-button">
                </button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            Sin registros
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
