<div>
  <div class="modal-title text-center">
    Cliente
    <hr>
  </div>
  <div mat-dialog-content>
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel header="Información (*)">
        <div class="row">
          <div class="col-sm-12">
            <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*).'}}</p>
          </div>
        </div>
        <app-formulario-cliente
          [data]="clienteACrear"
          (datosFormulario)="crearEditar($event)"
          [soloVer]="data?.soloVer"
        ></app-formulario-cliente>
      </p-tabPanel>
<!--      <p-tabPanel header="Vehículos">-->
<!--        <app-tabla-vehiculo-->
<!--          [idCliente]="data.cliente?.id"-->
<!--          (vehiculos)="setearVehiculos($event)"-->
<!--        ></app-tabla-vehiculo>-->
<!--      </p-tabPanel>-->
<!--      <p-tabPanel header="Contactos Adicionales">-->
<!--        <app-tabla-contactos-->
<!--          [idCliente]="data.cliente?.id"-->
<!--          (contactos)="setearContactos($event)"-->
<!--        ></app-tabla-contactos>-->
<!--      </p-tabPanel>-->
<!--      <p-tabPanel header="Datos Bancarios">-->
<!--        <app-tabla-cuenta-banco-->
<!--          [idCliente]="data.cliente?.id"-->
<!--          (cuentasBanco)="setearCuentasBancos($event)"-->
<!--        ></app-tabla-cuenta-banco>-->
<!--      </p-tabPanel>-->
    </p-tabView>
  </div>


  <div class="d-flex flex-row-reverse mt-5" mat-dialog-actions>
    <div
      *ngIf="!data?.soloVer"
      class="p-2">
      <button
        class="btn btn-success"
        [disabled]="!clienteACrear"
        (click)="enviarDatosFormulario()"
      >
        <i class="pi pi-save" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
        GUARDAR
      </button>
    </div>
    <div class="p-2">
      <button
        class="btn btn-secondary"
        (click)="cancelarModal()">
        <i class="pi pi-times" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
        CANCELAR
      </button>
    </div>
  </div>

</div>
