<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div
        *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"
        class="alert alert-primary" role="alert">
        Busque y seleccione un <b>proveedor</b> registrado en el sistema ó de clic en el botón
        <b><i class="pi pi-plus"></i></b> para registrar uno nuevo.
        <br>
        Si quiere cambiar la información de un <b>proveedor</b> ya registrado de clic en el botón
        <b><i class="pi pi-pencil"></i></b>
      </div>
      <div class="row">
        <!-- proveedor -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="proveedor"
              >
                Proveedor: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="">
                  <p-autoComplete
                    id="proveedor"
                    [inputId]="'proveedor'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'proveedor'"
                    [suggestions]="proveedores"
                    (completeMethod)="buscarProveedores($event)"
                    [placeholder]="'Búsque y seleccione un proveedor'"
                    [delay]="1000"
                    field="label"
                    [size]="999"
                    [forceSelection]="true"
                    (onSelect)="setearFormulario($event)"
                  >
                    <ng-template let-proveedor pTemplate="item">
                      {{ proveedor.label }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.proveedor.length>0 && estructuraErrores.proveedor[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.proveedor">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
            <div class="col-sm-1">
              <div class="row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  title="Agregar Proveedor"
                  class="p-button-primary"
                  (click)="agregarProveedor()">
                </button>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  title="Cambiar información Proveedor"
                  class="p-button-primary"
                  (click)="editarProveedor()">
                </button>
              </div>

            </div>
          </div>
        </div>

        <div
          *ngIf="formulario?.get('proveedor')?.value"
          class="row">
          <!-- nombreComercial -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-3">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="nombreComercial"
                >
                  Nombre Comercial:
                </label>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <label class="field field-over">
                    <input
                      readonly="true"
                      id="nombreComercial"
                      [formControlName]="'nombreComercial'"
                      type="text"
                      class="form-control-sm field-bag"

                      aria-describedby="parametroCategoriaoHelp"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.nombreComercial.length>0 && estructuraErrores.nombreComercial[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.nombreComercial">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- razonSocial -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-3">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="razonSocial"
                >
                  Razón Social:
                </label>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <label class="field field-over">
                    <input
                      readonly="true"
                      id="razonSocial"
                      [formControlName]="'razonSocial'"
                      type="text"
                      class="form-control-sm field-bag"

                      aria-describedby="parametroCategoriaoHelp"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.razonSocial.length>0 && estructuraErrores.razonSocial[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.razonSocial">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- identificacion -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-3">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="identificacion"
                >
                  Identificación:
                </label>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="identificacion"
                      readonly="true"
                      [formControlName]="'identificacion'"
                      type="text"
                      class="form-control-sm field-bag"
                      pInputText pKeyFilter="int"
                      aria-describedby="parametroCategoriaoHelp"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.identificacion.length>0 && estructuraErrores.identificacion[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.identificacion">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- dirección -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-3">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="direccion"
                >
                  Dirección:
                </label>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="direccion"
                      readonly="true"
                      [formControlName]="'direccion'"
                      type="text"
                      class="form-control-sm field-bag"
                      aria-describedby="parametroCategoriaoHelp"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.direccion.length>0 && estructuraErrores.direccion[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.direccion">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- telefono -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-3">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="telefono"
                >
                  Teléfono:
                </label>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <label class="field field-over">
                    <input
                      readonly="true"
                      id="telefono"
                      [formControlName]="'telefono'"
                      type="text"
                      class="form-control-sm field-bag"
                      pInputText pKeyFilter="int"
                      aria-describedby="parametroCategoriaoHelp"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.telefono.length>0 && estructuraErrores.telefono[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.telefono">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- correo -->
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-3">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="correo"
                >
                  Correo:
                </label>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <label class="field field-over">
                    <input
                      readonly="true"
                      id="correo"
                      [formControlName]="'correo'"
                      type="email"
                      class="form-control-sm field-bag"
                      placeholder="EJM: jon-snow@got.com"
                      aria-describedby="parametroCategoriaoHelp"
                    >
                  </label>
                </div>
                <small *ngIf="estructuraErrores.correo.length>0 && estructuraErrores.correo[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.correo">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
