<div>
  <div class="modal-title text-center">
    Sección
    <hr>
  </div>

  <div class="mt-4 mb-2" mat-dialog-content>
    <div class="row">
      <div class="col-sm-12">
        <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*).'}}</p>
      </div>
    </div>
    <br>
    <app-formulario-seccion
      [data]="seccionACrear"
      (datosFormulario)="crearEditar($event)"
    ></app-formulario-seccion>
  </div>


  <div class="d-flex flex-row-reverse mt-5" mat-dialog-actions>
    <div class="p-2">
      <button
        class="btn btn-success"
        [disabled]="!seccionACrear"
        (click)="enviarDatosFormulario()"
      >
        <i class="pi pi-save" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
        GUARDAR
      </button>
    </div>
    <div class="p-2">
      <button
        class="btn btn-secondary"
        (click)="cancelarModal()">
        <i class="pi pi-times" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
        CANCELAR
      </button>
    </div>
  </div>

</div>
