<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- codigo -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="codigo"
              >
                Código: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="codigo"
                    [formControlName]="'codigo'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="Ingrese el Código EJM 001"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Código EJM 001</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.codigo.length>0 && estructuraErrores.codigo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.codigo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- nombre -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="nombre"
              >
                Nombre: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="nombre"
                    [formControlName]="'nombre'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="Ingrese el Nombre EJM ajuste de neumáticos"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Nombre EJM ajuste de neumáticos</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.nombre.length>0 && estructuraErrores.nombre[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.nombre">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- seccion -->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="seccion"-->
<!--              >-->
<!--                Sección: *-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <p-autoComplete-->
<!--                    id="seccion"-->
<!--                    [inputId]="'seccion'"-->
<!--                    [dropdown]="true"-->
<!--                    [emptyMessage]="'No se encontro coincidencias.'"-->
<!--                    [formControlName]="'seccion'"-->
<!--                    [suggestions]="secciones"-->
<!--                    (completeMethod)="buscarSecciones($event)"-->
<!--                    [placeholder]="'Búsque y seleccione una sección'"-->
<!--                    [delay]="1000"-->
<!--                    field="nombre"-->
<!--                    [size]="999"-->
<!--                    [forceSelection]="true"-->
<!--                  >-->
<!--                    <ng-template let-seccion pTemplate="item">-->
<!--                      {{ seccion.nombre }}-->
<!--                    </ng-template>-->
<!--                  </p-autoComplete>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.seccion.length>0 && estructuraErrores.seccion[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.seccion">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--            <div class="col-sm-1">-->
<!--              <div class="row">-->
<!--                <button-->
<!--                  pButton-->
<!--                  pRipple-->
<!--                  type="button"-->
<!--                  icon="pi pi-plus"-->
<!--                  title="Agregar Sección"-->
<!--                  class="p-button-primary"-->
<!--                  (click)="agregarSeccion()">-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- precioVenta -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="precioVenta"
              >
                Precio de Venta: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="precioVenta"
                    [formControlName]="'precioVenta'"
                    type="number"
                    pKeyFilter="money"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: 20.00"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese Precio de Venta EJM: 20.00</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.precioVenta.length>0 && estructuraErrores.precioVenta[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.precioVenta">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- costo -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="costo"
              >
                Costo: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="costo"
                    [formControlName]="'costo'"
                    type="number"
                    pKeyFilter="money"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: 20.00"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Costo EJM: 20.00</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.costo.length>0 && estructuraErrores.costo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.costo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

<!--        &lt;!&ndash; descripcion &ndash;&gt;-->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="descripcion"-->
<!--              >-->
<!--                Descripción:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-10">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <textarea-->
<!--                    id="descripcion"-->
<!--                    [formControlName]="'descripcion'"-->
<!--                    type="text"-->
<!--                    class="form-control-sm field-bag"-->
<!--                    aria-describedby="parametroCategoriaoHelp"-->
<!--                    autocomplete="off"-->
<!--                    rows="1"-->
<!--                    placeholder="EJM: servicio para autos a diesel"-->
<!--                  >-->
<!--                  </textarea>-->
<!--                  <span class="field-label-wrap-bag">-->
<!--                    <span class="field-label-bag">Ingrese la Descripción EJM: servicio para autos a diesel</span>-->
<!--                  </span>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.descripcion.length>0 && estructuraErrores.descripcion[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.descripcion">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- observacion -->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="observacion"-->
<!--              >-->
<!--                Observación:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-10">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <textarea-->
<!--                    id="observacion"-->
<!--                    [formControlName]="'observacion'"-->
<!--                    type="text"-->
<!--                    class="form-control-sm field-bag"-->
<!--                    aria-describedby="parametroCategoriaoHelp"-->
<!--                    autocomplete="off"-->
<!--                    rows="1"-->
<!--                    placeholder="EJM: servicio bajo previa revisión"-->
<!--                  >-->
<!--                  </textarea>-->
<!--                  <span class="field-label-wrap-bag">-->
<!--                    <span class="field-label-bag">Ingrese la observacion EJM: servicio bajo previa revisión</span>-->
<!--                  </span>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.observacion.length>0 && estructuraErrores.observacion[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.observacion">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </form>
</div>
