<div class="container">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">



        <!-- nombre -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="nombre"
              >
                Nombre: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="nombre"
                    [formControlName]="'nombre'"
                    type="text"
                    class="form-control-sm field-bag"
                    readonly="true"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: IVA"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el nombre EJM: IVA</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.nombre.length>0 && estructuraErrores.nombre[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.nombre">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- codigo -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="codigo"
              >
                Código: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="codigo"
                    [formControlName]="'codigo'"
                    type="text"
                    class="form-control-sm field-bag"
                    readonly="true"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el código</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.codigo.length>0 && estructuraErrores.codigo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.codigo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- descripcion -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="descripcion"
              >
                Descripción: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="descripcion"
                    [formControlName]="'descripcion'"
                    type="text"
                    class="form-control-sm field-bag"
                    readonly="true"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la descripción</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.descripcion.length>0 && estructuraErrores.descripcion[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.descripcion">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
