<div class="">
  <br>
  <app-tabla-detalle-factura
    #tablaDetallesFactura
    [detallesPrevios]="[]"
    [tipoGasto]="tipoGasto"
    [esTrabajoRealizado]="true"
    (facturaDetalle)="obtenerTablaDetalles($event)"
  ></app-tabla-detalle-factura>
  <div class="row">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
      <app-tabla-totales-factura
        (valorTotalCambia)="recibirValorTotalAPagar($event)"
        (valorIvaCambia)="recibirTarifaIva($event)"
        [tipoGasto]="tipoGasto"
        [arreglototalesFactura]="arreglototalesFactura"
      >
      </app-tabla-totales-factura>
    </div>
  </div>

</div>
