
<div class="row">
<!--  <div-->
<!--    *ngIf="tipoGasto === tipoGastoEnum.Producto"-->
<!--    class="col-sm-12">-->
<!--    <div class="field-checkbox">-->
<!--      <label style="font-size: 15px"><b>Ingresar valores :</b></label>-->
<!--      <p-checkbox [(ngModel)]="ingresoManual" [binary]="true" inputId="binary"></p-checkbox>-->
<!--    </div>-->
<!--  </div>-->

  <div class="col-sm-12" style="padding-top: 10px;">
    <p-table
      [value]="arreglototalesFactura"
      responsiveLayout="scroll"
      [showCurrentPageReport]="true"
      [columns]="columns"
      editMode="row"
      styleClass="p-datatable-sm"
      (onEditComplete)="efectuarCalculos($event)"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            class="text-center"
            colspan="2">Totales
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-detalle let-columns="columns" let-rowIndex="rowIndex">
        <tr>
          <td  *ngFor="let col of columns" [pEditableColumn]="detalle">
            <div *ngIf="col.field === 'label'">
              <div
                *ngIf="puedeEditarLabel(detalle)"
                class="">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <select
                      [(ngModel)]="detalle.label"
                      (change)="cambiarTarifa(detalle)"
                      name="label" id="label">
                      <option *ngFor="let tarifa of tarifas" [value]="tarifa.label">{{tarifa.label}}</option>
                    </select>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <div style="text-align: left">
                      {{detalle.label}}
                      <i
                        *ngIf="detalle.esTarifa"
                        style="font-size: 10px" class="pi pi-pencil"></i>
                    </div>
                  </ng-template>
                </p-cellEditor>
              </div>
              <div
                *ngIf="!puedeEditarLabel(detalle)"
                style="text-align: left">
                {{detalle.label}}
              </div>
            </div>
            <div *ngIf="col.field === 'valor'">
              <div
                *ngIf="puedeEditar(detalle)"
                class="">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      [(ngModel)]="detalle.valor"
                      type="number"
                      [pKeyFilter]="'money'"
                      [max]="setearMaximo(detalle)"
                    >
                  </ng-template>
                  <ng-template pTemplate="output">
                    <div style="text-align: right">
<!--                      <p-->
<!--                        *ngIf="detalle.label === 'Propina' ">-->
<!--                        <i style="font-size: 10px" class="pi pi-pencil"></i>-->
<!--                        {{detalle.valor | currency}}-->
<!--                      </p>-->
<!--                      <p-->
<!--                        *ngIf="detalle.label === 'Descuento General' ">-->
<!--                        <i style="font-size: 10px" class="pi pi-pencil"></i>-->
<!--                        {{detalle.valor || 0}} %-->
<!--                      </p>-->
                    </div>
                  </ng-template>
                </p-cellEditor>
              </div>

              <div
                *ngIf="!puedeEditar(detalle)"
                style="text-align: right">
                {{detalle.valor | currency}}
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            Sin registros
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
