<div class="">
  <form [formGroup]="formularioContactos" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12 form-group">
          <div class="row">
            <div class="col-sm-12">
              <button
                (click)="agregarNuevoCampoContacto()"
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                title="Editar"
                class="p-button-rounded p-button-success p-button-text icon-button">
              </button>
              <span class="text-bago-primary color-bago" style="padding-left: 5px; padding-top: 52px">Agregar Contacto</span>
              <hr>
            </div>
          </div>

          <div class="col-sm-12">
            <div formArrayName="contactos"
                 *ngFor="let contacto of campoContactos.controls ; let k = index"
            >
              <div [formGroupName]="k">
                <div class="row">
                  <!-- tipoContacto -->
                  <div class="col-md-4 col-sm-12 mb-3">
                    <div class="row">
                      <div class="col-sm-3">
                        <label
                          class="control-label text-bago-primary inline-label-no-overflow"
                        >
                          Tipo: *
                        </label>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <p-dropdown
                            [options]="tiposContacto"
                            formControlName="tipoContacto"
                            optionLabel="label"
                            optionValue="value"
                            placeholder="Seleccione una opción"
                            [showClear]="true"
                          ></p-dropdown>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- valor -->
                  <div class="col-md-7 col-sm-12 mb-3">
                    <div class="row">
                      <div class="col-sm-3">
                        <label
                          class="control-label text-bago-primary inline-label-no-overflow"
                        >
                          Valor: *
                        </label>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <label class="field field-over">
                            <input
                              [formControlName]="'valor'"
                              type="text"
                              class="form-control-sm field-bag"
                              pInputText pKeyFilter="int"
                              aria-describedby="parametroCategoriaoHelp"
                            >
                            <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Valor</span>
                  </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-1">
                    <button
                      (click)="quitarCampoContacto(k)"
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-trash"
                      title="Eliminar"
                      class="p-button-rounded p-button-danger">
                    </button>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>




