<div
  *ngIf="!estaCargando"
  class="card container">
  <br>
  <div
    class="row">
    <div
      [ngClass]="(this.gastoPrevio?.estadoGastoAccion === enumsEstadoGastoAccion.FINALIZADO) ? 'disabledbutton' : ''"
      class="">
      <h5><b>Información del Gasto</b></h5>
      <div class="row">
        <div class="col-sm-12">
          <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*).'}}</p>
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <app-formulario-gasto
          #formularioGasto
          [data]="gastoPrevio"
          (cambioGasto)="setearGasto($event)"
          (datosFormulario)="obtnerGasto($event)"
        ></app-formulario-gasto>
      </div>
      <p-divider></p-divider>

      <div
        *ngIf="mostrarFactura"
        class="row">
        <h5><b>Factura</b></h5>
        <div class="col-sm-12">
          <app-factura
            #factura
            [facturaPrevia]="facturaPrevia"
            [(tipoGasto)]="tipoGasto"
            [tipoFactura]="tipoFactura.Gasto"
            (valorTotalCambia)="recibirValorTotal($event)"
            (valorTotalAbonosPagado)="recibirValorPagado($event)"
            (facturaEmitir)="obtenerFactura($event)"
          >

          </app-factura>
        </div>
      </div>
    </div>
    <br>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex flex-row-reverse text-center">
            <button
              *ngIf="mostrarBotonFinalizar()"
              (click)="guardarFinalizarGasto(enumsEstadoGastoAccion.FINALIZADO)"
              [disabled]="!validarBotones()"
              pButton pRipple type="button" class="p-button-times-circle p-button-primary">
              FINALIZAR
              <i class="pi pi-check-circle" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
            </button>
            <button
              *ngIf="mostrarBotonGuadar()"
              (click)="guardarFinalizarGasto(enumsEstadoGastoAccion.GUARDADO)"
              [disabled]="!validarBotones()"
              pButton pRipple type="button" class="p-button-times-circle p-button-success">
              GUARDAR
              <i class="pi pi-save" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
            </button>
            <button
              (click)="cancelar()"
              pButton pRipple type="button" class="p-button-times-circle p-button-secondary text-center">
              CANCELAR
              <i class="pi pi-times-circle" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
            </button>

          </div>

        </div>
      </div>
    </div>
  </div>
  <br>
</div>

