<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">
        <div
          *ngIf="!soloVer"
          class="alert alert-primary" role="alert">
          Busque y seleccione una <b>marca</b> ya registrada en el sistema ó de clic en el botón
          <b><i class="pi pi-plus"></i></b> para registrar una nueva.
          <div
            *ngIf="!esModalCliente"
            class="">
            Busque y seleccione un <b>propietario</b> ya registrado en el sistema ó de clic en el botón
            <b><i class="pi pi-plus"></i></b> para registrar uno nuevo.
          </div>
        </div>
        <br>
        <!-- cliente -->
        <div
          class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="cliente"
              >
                Propietario: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <p-autoComplete
                    id="cliente"
                    [inputId]="'cliente'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'cliente'"
                    [suggestions]="clientes"
                    (completeMethod)="buscarClientes($event)"
                    [placeholder]="'Búsque por razón social, nombre comercial o identificación'"
                    [delay]="1000"
                    field="informacionTributaria.nombreComercial"
                    [size]="999"
                    [forceSelection]="true"
                    [disabled]="(esModalCliente && (!!cliente)) || soloVer"
                  >
                    <ng-template let-cliente pTemplate="item">
                      {{ cliente.informacionTributaria.nombreComercial }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.cliente.length>0 && estructuraErrores.cliente[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.cliente">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
            <div
              *ngIf="!esModalCliente && !soloVer"
              class="col-sm-1">
              <div class="row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  title="Agregar Banco"
                  class="p-button-primary"
                  (click)="agregarCliente()">
                </button>
              </div>

            </div>
          </div>
        </div>

        <!-- marca -->
        <div class="col-md-12 col-sm-12 mb-3">

          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="marca"
              >
                Marca: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <p-autoComplete
                    id="marca"
                    [inputId]="'marca'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'marca'"
                    [suggestions]="marcas"
                    (completeMethod)="buscarMarcas($event)"
                    [placeholder]="'Búsque y seleccione una marca'"
                    [delay]="1000"
                    field="nombre"
                    [size]="999"
                    [forceSelection]="true"
                    [disabled]="soloVer"
                  >
                    <ng-template let-marca pTemplate="item">
                      {{ marca.nombre }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.marca.length>0 && estructuraErrores.marca[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.marca">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
            <div class="col-sm-1">
              <div
                *ngIf="!soloVer"
                class="row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  title="Agregar Marca"
                  class="p-button-primary"
                  (click)="agregarMarca()">
                </button>
              </div>

            </div>
          </div>
        </div>

        <!-- placa -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="placa"
              >
                Placa: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="placa"
                    [formControlName]="'placa'"
                    type="text"
                    class="form-control-sm field-bag"
                    pKeyFilter="alphanum"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM PCD8255"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la placa sin guion o espacio en blanco EJM PCD8255</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.placa.length>0 && estructuraErrores.placa[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.placa">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>


        <!-- modelo -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="modelo"
              >
                Modelo: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="modelo"
                    [formControlName]="'modelo'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: Aveo emotion"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el modelo EJM: Aveo emotion</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.modelo.length>0 && estructuraErrores.modelo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.modelo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- color -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="color"
              >
                Color: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="color"
                    [formControlName]="'color'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: rojo"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el color EJM: rojo</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.color.length>0 && estructuraErrores.color[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.color">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- chasis -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="chasis"
              >
                Chasis: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="chasis"
                    [formControlName]="'chasis'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: 123465987"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el chasis EJM: 123465987</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.chasis.length>0 && estructuraErrores.chasis[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.chasis">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- motor -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="motor"
              >
                Motor: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="motor"
                    [formControlName]="'motor'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: 12345679820"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el motor EJM: 12345679820</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.motor.length>0 && estructuraErrores.motor[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.motor">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- anio -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="anio"
              >
                Año: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="anio"
                    [formControlName]="'anio'"
                    type="number"
                    class="form-control-sm field-bag"
                    pKeyFilter="pint"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: 2022"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el año EJM: 2022</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.anio.length>0 && estructuraErrores.anio[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.anio">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>


<!--        &lt;!&ndash; tipoVehiculo &ndash;&gt;-->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="tipoVehiculo"-->
<!--              >-->
<!--                Tipo Vehículo: *-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-9">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <p-autoComplete-->
<!--                    id="tipoVehiculo"-->
<!--                    [inputId]="'tipoVehiculo'"-->
<!--                    [dropdown]="true"-->
<!--                    [emptyMessage]="'No se encontro coincidencias.'"-->
<!--                    [formControlName]="'tipoVehiculo'"-->
<!--                    [suggestions]="tipoVehiculos"-->
<!--                    (completeMethod)="buscarTipoVehiculos($event)"-->
<!--                    [placeholder]="'Búsque y seleccione un tipo de Vehiculo'"-->
<!--                    [delay]="1000"-->
<!--                    field="nombre"-->
<!--                    [size]="999"-->
<!--                    [forceSelection]="true"-->
<!--                  >-->
<!--                    <ng-template let-tipoVehiculo pTemplate="item">-->
<!--                      {{ tipoVehiculo.nombre }}-->
<!--                    </ng-template>-->
<!--                  </p-autoComplete>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.tipoVehiculo.length>0 && estructuraErrores.tipoVehiculo[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.tipoVehiculo">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--            <div class="col-sm-1">-->
<!--              <div class="row">-->
<!--                <button-->
<!--                  pButton-->
<!--                  pRipple-->
<!--                  type="button"-->
<!--                  icon="pi pi-plus"-->
<!--                  title="Agregar Tipo Vehiculo"-->
<!--                  class="p-button-primary"-->
<!--                  (click)="agregarTipoVehiculo()">-->
<!--                </button>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; tipoCambio &ndash;&gt;-->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="tipoCambio"-->
<!--              >-->
<!--                Tipo Cambio: *-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-9">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <p-autoComplete-->
<!--                    id="tipoCambio"-->
<!--                    [inputId]="'tipoCambio'"-->
<!--                    [dropdown]="true"-->
<!--                    [emptyMessage]="'No se encontro coincidencias.'"-->
<!--                    [formControlName]="'tipoCambio'"-->
<!--                    [suggestions]="tipoCambios"-->
<!--                    (completeMethod)="buscarTipoCambios($event)"-->
<!--                    [placeholder]="'Búsque y seleccione un tipo de Cambio'"-->
<!--                    [delay]="1000"-->
<!--                    field="nombre"-->
<!--                    [size]="999"-->
<!--                    [forceSelection]="true"-->
<!--                  >-->
<!--                    <ng-template let-tipoCambio pTemplate="item">-->
<!--                      {{ tipoCambio.nombre }}-->
<!--                    </ng-template>-->
<!--                  </p-autoComplete>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.tipoCambio.length>0 && estructuraErrores.tipoCambio[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.tipoCambio">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--            <div class="col-sm-1">-->
<!--              <div class="row">-->
<!--                <button-->
<!--                  pButton-->
<!--                  pRipple-->
<!--                  type="button"-->
<!--                  icon="pi pi-plus"-->
<!--                  title="Agregar Tipo Cambio"-->
<!--                  class="p-button-primary"-->
<!--                  (click)="agregarTipoCambio()">-->
<!--                </button>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; tipoCombustible &ndash;&gt;-->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="tipoCombustible"-->
<!--              >-->
<!--                Tipo Combustible: *-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-9">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <p-autoComplete-->
<!--                    id="tipoCombustible"-->
<!--                    [inputId]="'tipoCombustible'"-->
<!--                    [dropdown]="true"-->
<!--                    [emptyMessage]="'No se encontro coincidencias.'"-->
<!--                    [formControlName]="'tipoCombustible'"-->
<!--                    [suggestions]="tipoCombustibles"-->
<!--                    (completeMethod)="buscarTipoCombustibles($event)"-->
<!--                    [placeholder]="'Búsque y seleccione un tipo de Combustible'"-->
<!--                    [delay]="1000"-->
<!--                    field="nombre"-->
<!--                    [size]="999"-->
<!--                    [forceSelection]="true"-->
<!--                  >-->
<!--                    <ng-template let-tipoCombustible pTemplate="item">-->
<!--                      {{ tipoCombustible.nombre }}-->
<!--                    </ng-template>-->
<!--                  </p-autoComplete>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.tipoCombustible.length>0 && estructuraErrores.tipoCombustible[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.tipoCombustible">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--            <div class="col-sm-1">-->
<!--              <div class="row">-->
<!--                <button-->
<!--                  pButton-->
<!--                  pRipple-->
<!--                  type="button"-->
<!--                  icon="pi pi-plus"-->
<!--                  title="Agregar Tipo Combustible"-->
<!--                  class="p-button-primary"-->
<!--                  (click)="agregarTipoCombustible()">-->
<!--                </button>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </form>
</div>
