<div class="">
  <br>
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">
        <div
          *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"
          class="alert alert-primary" role="alert">
          Busque y seleccione un <b>cliente</b> para la factura en el sistema ó de clic en el botón
          <b><i class="pi pi-plus"></i></b> para registrar uno nuevo.
          <br>
          Si quiere cambiar la información de un <b>cliente</b> ya registrado de clic en el botón
          <b><i class="pi pi-pencil"></i></b>
        </div>
        <!-- fechaEmision -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="fechaEmision"
              >
                Fecha Emisión: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="fechaEmision"
                    [formControlName]="'fechaEmision'"
                    type="date"
                    class="form-control-sm field-bag"
                    placeholder="EJ: 3"
                    aria-describedby="fechaEmisionHelp"
                    autocomplete="off"
                    min="2000-01-01"
                    max="2050-12-31"
                    [placeholder]="'EJM: 12/25/2022'"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la fecha de emisión EJM: 12/25/2022</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.fechaEmision.length>0 && estructuraErrores.fechaEmision[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.fechaEmision">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- estadoAccion -->
<!--        <div class="col-md-6 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-3">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="estadoAccion"-->
<!--              >-->
<!--                Estado:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="row">-->
<!--                <p-dropdown-->
<!--                  id="estadoAccion"-->
<!--                  [options]="estados"-->
<!--                  formControlName="estadoAccion"-->
<!--                  optionLabel="label"-->
<!--                  optionValue="value"-->
<!--                  placeholder="Seleccione una opción"-->
<!--                  [showClear]="true"-->
<!--                  [disabled]="true"-->
<!--                ></p-dropdown>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.estadoAccion.length>0 && estructuraErrores.estadoAccion[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.estadoAccion">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- numero -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="numero"
              >
                N° Factura:*
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="numero"
                    [formControlName]="'numero'"
                    type="text"
                    pKeyFilter="pint"
                    class="form-control-sm field-bag"
                    placeholder="EJ: Factura-001"
                    aria-describedby="numeroHelp"
                    autocomplete="off"
                    [placeholder]="'EJM: 00100100122'"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el número de factura EJM: 00100100122</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.numero.length>0 && estructuraErrores.numero[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.numero">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- esConsumidorFinal -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-4">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
              >
                Es Consumidor Final:
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <p-inputSwitch
                    [disabled]="soloVer"
                    [formControlName]="'esConsumidorFinal'"
                    (onChange)="cambioConsumidorFinal($event)"
                  ></p-inputSwitch>
                </label>
              </div>
              <small *ngIf="estructuraErrores.esConsumidorFinal.length>0 && estructuraErrores.esConsumidorFinal[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.esConsumidorFinal">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- cliente -->
        <div
          *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"
          class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="cliente"
              >
                Cliente A Facturar:*
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="">
                  <p-autoComplete
                    id="cliente"
                    [inputId]="'cliente'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'cliente'"
                    [suggestions]="clientes"
                    (completeMethod)="buscarClientes($event)"
                    [placeholder]="'Búsque por razón social, nombre comercial o identificación'"
                    [delay]="1000"
                    field="label"
                    [size]="999"
                    [forceSelection]="true"
                    (onSelect)="setearFormulario($event)"
                    [disabled]="soloVer"
                  >
                    <ng-template let-cliente pTemplate="item">
                      {{ cliente.label }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.cliente.length>0 && estructuraErrores.cliente[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.cliente">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
            <div
              *ngIf="!soloVer"
              class="col-sm-2">
              <div class="row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  title="Agregar Cliente"
                  class="p-button-primary"
                  (click)="agregarCliente()">
                </button>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  title="Cambiar información Cliente"
                  class="p-button-primary"
                  (click)="editarCliente()">
                </button>
              </div>

            </div>
          </div>
        </div>

        <!-- nombreComercialCliente -->
        <div
          *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"
          class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="nombreComercialCliente"
              >
                Nombre Comercial:
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="nombreComercialCliente"
                    [formControlName]="'nombreComercialCliente'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: Ferrisariato"
                    aria-describedby="parametroCategoriaoHelp"
                    [readonly]="true"
                  >
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- razonSocialCliente -->
        <div
          *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"
          class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="razonSocialCliente"
              >
                Razón Social:
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="razonSocialCliente"
                    [formControlName]="'razonSocialCliente'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: Oscar Sambache"
                    aria-describedby="parametroCategoriaoHelp"
                    [readonly]="true"
                  >
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- identificacionCliente -->
        <div
          *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"
          class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="identificacionCliente"
              >
                Identificación:
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="identificacionCliente"
                    [formControlName]="'identificacionCliente'"
                    type="text"
                    class="form-control-sm field-bag"
                    pInputText pKeyFilter="int"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: 172418894"
                    [readOnly]="true"
                  >
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- dirección -->
        <div
          *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"
          class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="direccionCliente"
              >
                Dirección:
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="direccionCliente"
                    [formControlName]="'direccionCliente'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: Av El Inca"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="true"
                  >
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- telefonoCliente -->
        <div
          *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"
          class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="telefonoCliente"
              >
                Teléfono:
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="telefonoCliente"
                    [formControlName]="'telefonoCliente'"
                    type="text"
                    class="form-control-sm field-bag"
                    pInputText pKeyFilter="int"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: 0993998734 ó 2424150"
                    [readOnly]="true"
                  >
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- correo -->
        <div
          *ngIf="!(this.formulario?.get('esConsumidorFinal')?.value)"
          class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="correoCliente"
              >
                Correo:
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="correoCliente"
                    [formControlName]="'correoCliente'"
                    type="email"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: jon-snow@gto.com"
                    [readOnly]="true"
                  >
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>

  <br>

  <app-tabla-detalle-factura
    *ngIf="facturaDetalles && facturaDetalles.length"
    #tablaDetallesFactura
    [detallesPrevios]="facturaDetalles"
    [tipoGasto]="tipoGasto"
    [esFactura]="true"
    [estadoFactura]="data?.estadoAccion"
    (facturaDetalle)="obtenerTablaDetalles($event)"
  ></app-tabla-detalle-factura>
  <div class="row">
    <div class="col-sm-9"
         *ngIf="arreglototalesFactura.length && tipoGasto">
      <app-tabla-abonos-factura
        (arregloAbonosFacturaCambia)="obtenerAbonosFactura($event)"
        [tipoGasto]="tipoGasto"
        [valorTotalFactura]="setearValorAPagarFactura()"
        [abonosPrevios]="abonosPrevios"
        [soloVer]="soloVer"
      ></app-tabla-abonos-factura>
    </div>
    <div class="col-sm-3">
      <app-tabla-totales-factura
        (valorTotalCambia)="recibirValorTotalAPagar($event)"
        (valorIvaCambia)="recibirTarifaIva($event)"
        [tipoGasto]="tipoGasto"
        [arreglototalesFactura]="arreglototalesFactura"
        [estadoAccion]="data?.estadoAccion"
      >
      </app-tabla-totales-factura>
    </div>
  </div>

</div>
