<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- impuesto -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="impuesto"
              >
                Impuesto: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <p-autoComplete
                    id="impuesto"
                    [inputId]="'impuesto'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'impuesto'"
                    [suggestions]="impuestos"
                    (completeMethod)="buscarImpuestos($event)"
                    [placeholder]="'Búsque y seleccione un impuesto'"
                    [delay]="1000"
                    field="nombre"
                    [size]="999"
                    [forceSelection]="true"
                  >
                    <ng-template let-impuesto pTemplate="item">
                      {{ impuesto.nombre }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.impuesto.length>0 && estructuraErrores.impuesto[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.impuesto">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- tarifaimpuesto -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="tarifaImpuesto"
              >
                Tarifa: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <p-autoComplete
                    id="tarifaImpuesto"
                    [inputId]="'tarifaImpuesto'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'tarifaImpuesto'"
                    [suggestions]="tarifasImpuestos"
                    (completeMethod)="buscarTarifaImpuestos($event)"
                    [placeholder]="'Búsque y seleccione una tarifa'"
                    [delay]="1000"
                    field="valor"
                    [size]="999"
                    [forceSelection]="true"
                  >
                    <ng-template let-tarifaImpuesto pTemplate="item">
                      {{ tarifaImpuesto.valor }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.tarifaImpuesto.length>0 && estructuraErrores.tarifaImpuesto[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.tarifaImpuesto">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
