<div class="modal-title text-center">
  Previsualizar PDF
  <hr>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-12">

        <button *ngIf="mostrarVisor"
                class="btn btn-primary"
                ngbTooltip="Descargar"
                (click)="descargarArchivo(src)"
        >
          <i class="pi pi-download" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
          Descargar
        </button>

      </div>
      <div class="col-12 text-center" style="height: 400px; overflow: scroll">
        <pdf-viewer *ngIf="true; else error"
                    [src]="'https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf'"
                    [render-text]="true"
                    [show-all]="true"
                    [autoresize]="true"
                    (error)="onError($event)"
                    (page-rendered)="onLoadComplete()"
                    [original-size]="false"
                    style="display: block;height: 40rem;"
        ></pdf-viewer>
      </div>
    </div>

    <div class="row">
      <ng-template #error>
        <img alt="404" src="assets/images/error-404.svg"/>
        <p class="text-bago-primary text-size-20">
          <strong>
            A ocurrido un error posiblemente el archivo no es compatible o no exista
          </strong>
        </p>
      </ng-template>
    </div>
    <div class="row">
      <ng-template #loader>
        <img alt="404" src="assets/spinners/triangles.svg"/>
        <p class="text-bago-primary text-size-20">
          <strong>
            Cargando...
          </strong>
        </p>
      </ng-template>
    </div>

  </div>
</div>

<div class="d-flex flex-row-reverse mt-5" mat-dialog-actions>
  <div class="p-2">
    <button
      class="btn btn-secondary"
      (click)="cancelarModal()">
      <i class="pi pi-times" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
      CANCELAR
    </button>
  </div>
</div>
