<div class="modal-title text-center">
  Pagos de Factura
  <hr>
</div>

<div class="row" mat-dialog-content>
  <div
    *ngIf="factura"
    class="row">
    <div
      class="row">
      <div class="col-sm-6">
        <p><b>Tipo Factura:</b> {{factura?.gasto ? 'GASTO' : 'TRABAJO'}}</p>
        <p *ngIf="factura?.trabajo"><b>Cliente:</b> {{factura?.nombreComercialCliente ?? '-'}}</p>
        <p *ngIf="factura?.gasto"><b>Proveedor:</b> {{factura?.nombreComercialProveedor ?? '-'}}</p>
        <p><b>Valor Total Factura:</b> {{factura.total | currency}}</p>

      </div>
      <div class="col-sm-6">
        <p><b>Número Factura:</b> {{factura?.numero}}</p>
        <p *ngIf="factura?.trabajo"><b>Teléfono:</b> {{factura?.telefonoCliente ?? '-'}}</p>
        <p *ngIf="factura?.gasto"><b>Teléfono:</b> {{factura?.telefonoProveedor ?? '-'}}</p>
        <p *ngIf="factura?.gasto"><b>Cuentas de Banco:</b>
          <span
            *ngFor="let cuentasBanco of factura?.proveedor?.cuentasBanco"
                class="">
            <li>
              {{cuentasBanco.banco?.nombre + '-'+  cuentasBanco.numero}}
            </li>
          </span>
        </p>

      </div>

      <hr>
    </div>
  </div>
  <p><b>Detalle de la Factura</b></p>
  <app-tabla-detalle-factura
    *ngIf="factura?.facturaDetalles"
    [detallesPrevios]="factura?.facturaDetalles"
    [tipoGasto]="tipoGasto"
    [esFactura]="true"
    [estadoFactura]="estadoAccion.Finalizado"
    [soloVer]="true"
  ></app-tabla-detalle-factura>

<div
  style="margin-top: 10px"
  class="">
  <p><b>Detalle de los Pagos</b></p>

  <app-tabla-abonos-factura
    [valorTotalFactura]="factura?.total"
    [factura]="this.factura"
    [tipoGasto]="tipoGasto"
    [abonosFactura]="this.abonosPagos"
    (arregloAbonosFacturaCambia)="obtenerAbonosPago($event)"
    [esModal]="true"
  ></app-tabla-abonos-factura>
</div>

</div>

<div class="d-flex flex-row-reverse mt-5" mat-dialog-actions>
  <div class="p-2">
    <button
      class="btn btn-success"
      (click)="enviarAbonosPagos()"
      [disabled]="!tablaValida"
    >
      <i class="pi pi-save" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
      GUARDAR
    </button>
  </div>
  <div class="p-2">
    <button
      class="btn btn-secondary"
      (click)="cancelarModal()">
      <i class="pi pi-times" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
      CANCELAR
    </button>
  </div>
</div>
