<div
  *ngIf="!estaCargando"
  >
  <br>
  <div
    class="row">
    <div
      [ngClass]="(this.gastoPrevio?.estadoGastoAccion === enumsEstadoGastoAccion.FINALIZADO || soloVer) ? 'disabledbutton' : ''"
      class="">
      <h5><b>Información del Gasto</b></h5>
      <div class="row">
        <div class="col-sm-12">
          <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*).'}}</p>
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <app-formulario-gasto
          #formularioGasto
          [data]="this.gastoPrevio"
          (cambioGasto)="setearGasto($event)"
          (datosFormulario)="obtnerGasto($event)"
        ></app-formulario-gasto>
      </div>
      <p-divider></p-divider>

      <div
        *ngIf="mostrarFactura"
        class="row">
        <h5><b>Factura</b></h5>
        <div class="col-sm-12">
          <app-factura
            #factura
            [facturaPrevia]="facturaPrevia"
            [(tipoGasto)]="tipoGasto"
            [tipoFactura]="tipoFactura.Gasto"
            (valorTotalCambia)="recibirValorTotal($event)"
            (valorTotalAbonosPagado)="recibirValorPagado($event)"
            (facturaEmitir)="obtenerFactura($event)"
          >

          </app-factura>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

