<div class="">
  <br>
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- fechaRecepcion -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-4">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="fechaRecepcion"
              >
                Fecha de Recepción: *
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="fechaRecepcion"
                    [formControlName]="'fechaRecepcion'"
                    type="date"
                    class="form-control-sm field-bag"
                    placeholder="EJ: 3"
                    aria-describedby="fechaRecepcionHelp"
                    autocomplete="off"
                    min="2000-01-01"
                    max="2050-12-31"
                    [placeholder]="'EJM: 12/25/2022'"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la fecha de recepción EJM: 12/25/2022</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.fechaRecepcion.length>0 && estructuraErrores.fechaRecepcion[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.fechaRecepcion">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- estadoAccion -->
<!--        <div class="col-md-6 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-4">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="estadoAccion"-->
<!--              >-->
<!--                Estado:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="row">-->
<!--                <p-dropdown-->
<!--                  id="estadoAccion"-->
<!--                  [options]="estados"-->
<!--                  formControlName="estadoAccion"-->
<!--                  optionLabel="label"-->
<!--                  optionValue="value"-->
<!--                  placeholder="Seleccione una opción"-->
<!--                  [showClear]="true"-->
<!--                  [disabled]="true"-->
<!--                ></p-dropdown>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.estadoAccion.length>0 && estructuraErrores.estadoAccion[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.estadoAccion">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- kmEntrada -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-4">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="kmEntrada"
              >
                Kilometraje: *
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="kmEntrada"
                    [formControlName]="'kmEntrada'"
                    type="number"
                    class="form-control-sm field-bag"
                    pKeyFilter="pint"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM: 50"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el kilometraje EJM: 50</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.kmEntrada.length>0 && estructuraErrores.kmEntrada[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.kmEntrada">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- gasolinaEntrada -->
<!--        <div class="col-md-6 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-4">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="gasolinaEntrada"-->
<!--              >-->
<!--                Gasolina de Entrada: *-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <input-->
<!--                    id="gasolinaEntrada"-->
<!--                    [formControlName]="'gasolinaEntrada'"-->
<!--                    type="number"-->
<!--                    class="form-control-sm field-bag"-->
<!--                    pKeyFilter="pint"-->
<!--                    aria-describedby="parametroCategoriaoHelp"-->
<!--                    placeholder="EJM: 150"-->
<!--                    [readOnly]="soloVer"-->
<!--                  >-->
<!--                  <span class="field-label-wrap-bag">-->
<!--                    <span class="field-label-bag">Ingrese la gasolina de Entrada EJM: 150</span>-->
<!--                  </span>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.gasolinaEntrada.length>0 && estructuraErrores.gasolinaEntrada[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.gasolinaEntrada">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; observacionesTaller &ndash;&gt;-->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="observacionesTaller"-->
<!--              >-->
<!--                Observaciones del Taller:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-10">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <textarea-->
<!--                    id="observacionesTaller"-->
<!--                    [formControlName]="'observacionesTaller'"-->
<!--                    type="text"-->
<!--                    class="form-control-sm field-bag"-->
<!--                    aria-describedby="parametroCategoriaoHelp"-->
<!--                    autocomplete="off"-->
<!--                    rows="1"-->
<!--                    placeholder="EJM:  Parabrisas roto"-->
<!--                    pInputTextarea-->
<!--                    [autoResize]="true"-->
<!--                    [readOnly]="soloVer"-->
<!--                  >-->
<!--                  </textarea>-->
<!--                  <span class="field-label-wrap-bag">-->
<!--                    <span class="field-label-bag">Ingrese la observación del taller EJM: Parabrisas roto</span>-->
<!--                  </span>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.observacionesTaller.length>0 && estructuraErrores.observacionesTaller[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.observacionesTaller">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- piezasRecambio -->
        <div class="col-md-3 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-8">
              <label
                class="control-label text-bago-primary"
                for="piezasRecambio"
              >
                <b>Piezas Recambio:</b>
              </label>
            </div>
            <div class="col-sm-4">
                  <p-checkbox
                    [disabled]="soloVer"
                    id="piezasRecambio"
                    [formControlName]="'piezasRecambio'"
                    [binary]="true"
                    inputId="binary">
                  </p-checkbox>
            </div>
          </div>
        </div>

        <!-- enGarantia -->
        <div class="col-md-3 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-8">
              <label
                class="control-label text-bago-primary"
                for="enGarantia"
              >
                <b>En Garantía:</b>
              </label>
            </div>
            <div class="col-sm-4">
              <p-checkbox
                [disabled]="soloVer"
                id="enGarantia"
                [formControlName]="'enGarantia'"
                [binary]="true"
                inputId="binary">
              </p-checkbox>
            </div>
          </div>
        </div>

        <!-- siniestro -->
        <div class="col-md-3 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-8">
              <label
                class="control-label text-bago-primary"
                for="siniestro"
              >
                <b>Siniestro:</b>
              </label>
            </div>
            <div class="col-sm-4">
              <p-checkbox
                id="siniestro"
                [disabled]="soloVer"
                [formControlName]="'siniestro'"
                [binary]="true"
                inputId="binary">
              </p-checkbox>
            </div>
          </div>
        </div>

        <!-- grua -->
        <div class="col-md-3 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-8">
              <label
                class="control-label text-bago-primary"
                for="grua"
              >
                <b>Grua:</b>
              </label>
            </div>
            <div class="col-sm-4">
              <p-checkbox
                [disabled]="data?.estadoAccion === estadosTrabajo.Finalizado  || soloVer"
                id="grua"
                [formControlName]="'grua'"
                [binary]="true"
                inputId="binary">
              </p-checkbox>
            </div>
          </div>
        </div>

        <!-- observacionesCliente -->
        <div class="alert alert-warning" role="alert">
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="observacionesCliente"
                >
                  Observaciones:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                  <textarea
                    id="observacionesCliente"
                    [formControlName]="'observacionesCliente'"
                    type="text"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    autocomplete="off"
                    rows="1"
                    placeholder="EJM:  Parabrisas roto"
                    [readOnly]="soloVer"
                  >
                  </textarea>
                    <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la observación del cliente EJM: Parabrisas roto</span>
                  </span>
                  </label>
                </div>
                <small
                  *ngIf="estructuraErrores.observacionesCliente.length>0 && estructuraErrores.observacionesCliente[0]"
                  class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.observacionesCliente">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
