<div class="card container">
  <br>
  <div class="row">
    <app-formulario-trabajo
      *ngIf="!estaCargando"
      [data]="trabajoRealizadoPrevio?.trabajo"
      (datosFormulario)="obtenerTrabajo($event)"
      [soloVer]="setearSoloVer()"
    ></app-formulario-trabajo>
  </div>
  <br>
  <h6>
    <b>Información de la Proforma</b>
  </h6>
  <hr>
  <app-formulario-trabajo-realizado
    *ngIf="!estaCargando"
    [data]="trabajoRealizadoPrevio"
    (datosFormulario)="obtenerTrabajoRealizado($event)"
    [esProforma]="true"
  ></app-formulario-trabajo-realizado>
  <br>
  <div class="col-sm-12" style="padding-bottom: 25px">
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex flex-row-reverse text-center">
          <button
            *ngIf="!(trabajoRealizadoPrevio?.estadoAccion === estadosTrabajo.Finalizado)"
            [disabled]="!(formularioTrabajoRealizadoValido && formularioProformaValido)"
            (click)="guardarTrabajoRealizado(estadosTrabajo.Finalizado)"
            pButton pRipple type="button" class="p-button-times-circle p-button-success">
            FINALIZAR
            <i class="pi pi-check-circle"
               style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
          </button>
          <button
            *ngIf="!(trabajoRealizadoPrevio?.estadoAccion === estadosTrabajo.Finalizado)"
            [disabled]="!(formularioTrabajoRealizadoValido && formularioProformaValido)"
            (click)="guardarTrabajoRealizado(estadosTrabajo.Guardado)"
            pButton pRipple type="button" class="p-button-times-circle p-button-primary">
            GUARDAR
            <i class="pi pi-check-circle"
               style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
