<div class="container">
  <app-formulario-trabajo
    *ngIf="!estaCargando && factura?.trabajo"
    [data]="factura?.trabajo"
    [soloVer]="true"
  ></app-formulario-trabajo>
  <br>
  <h6 class="">
    <b>Información de la Factura</b>
  </h6>
  <hr>
  <app-formulario-factura
    *ngIf="!estaCargando"
    [trabajo]="factura?.trabajo"
    [data]="factura"
  ></app-formulario-factura>
  <br>
  <div class="col-sm-12" style="padding-bottom: 25px">
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex flex-row-reverse text-center">
          <button
            (click)="cancelar()"
            pButton pRipple type="button" class="p-button-times-circle p-button-danger">
            SALIR
            <i class="pi pi-arrow-left"
               style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
