<p-blockUI [blocked]="ocultar" style="background: white">

  <img width="5%" src="assets/gif/cargando.gif" alt="">

</p-blockUI>

<div
  style="display: flex; flex-direction: column;">
  <nz-layout>
    <nz-sider nzCollapsible>
      <div class="logo">
        <p-avatar [image]="setearUrlImagen()" shape="circle"></p-avatar>
        <!--        <img src="assets/images/logo.png" alt="logo" height="50">-->
      </div>
      <ul nz-menu nzMode="inline" nzTheme="dark">
        <div *ngFor="let opcionMenu of opcionesMenu">
          <li
            nz-menu-item
            *ngIf="!opcionMenu.submenu"
            (click)="irRuta(opcionMenu)"
          >
                  <span>
                     <i
                       [class]="opcionMenu.icono"
                       style="font-size: 0.6rem; font-weight: bold; margin-right: 5px;"
                     ></i>
                    <span class="nav-text">
                      {{opcionMenu.nombre}}
                    </span>
                  </span>
          </li>

          <li nz-submenu *ngIf="opcionMenu.submenu">
            <span title>
                <i
                  [class]="opcionMenu.icono"
                  style="font-size: 0.6rem; font-weight: bold; margin-right: 5px;
                "></i>
                <span class="nav-text">
                  {{opcionMenu.nombre}}
                </span>
            </span>
            <ul *ngFor="let opcionSubmenu of opcionMenu.opcionesSubmenu">
              <li
                nz-menu-item *ngIf="!opcionSubmenu.submenu"
                (click)="irRuta(opcionSubmenu)"
              >
                  <span>
                     <i
                       [class]="opcionSubmenu.icono"
                       style="font-size: 0.6rem; font-weight: bold; margin-right: 5px;"
                     >
                    </i>
                    <span class="nav-text">
                      {{opcionSubmenu.nombre}}
                    </span>
                  </span>
              </li>
            </ul>
          </li>
        </div>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="row">
          <div class="col-sm-9">
            <h4
              class="text-center" style="padding-top: 15px ; color: white; font-family: Verdana, Arial, Tahoma, Serif;">
              {{
              configuracion?.razonSocial
              }}

            </h4>
          </div>
          <div class="col-sm-3">
            <div
              style="padding: 25px;"
              class="d-flex flex-row-reverse">
              <p-toast></p-toast>
              <i
                class="pi pi-bell p-text-secondary" pBadge style="font-size: 20px" value="{{abonosPagos.length}}"
                (click)="op.toggle($event)"
              ></i>
              <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px', height: '400px'}">
                <p class="text-center"><b>Pagos Por Cobrar/Pagar</b></p>
                <hr>
                <p-scrollPanel [style]="{width: '100%', height: '300px'}">
                  <div class="" *ngFor="let abono of abonosPagos">
                    <div class="row">
                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-12">
                          <span *ngIf="abono?.facturaCabecera?.trabajo" class="letra-card">
                            <b>Cliente:</b> {{abono?.facturaCabecera?.nombreComercialCliente ?? '-'}}
                          </span>
                            <span *ngIf="abono?.facturaCabecera?.gasto" class="letra-card">
                            <b>Proveedor:</b> {{abono?.facturaCabecera?.nombreComercialProveedor ?? '-'}}
                          </span>
                          </div>
                          <div class="col-sm-6">
                            <span
                              class="letra-card"><b>Tipo Factura:</b> {{abono?.facturaCabecera?.gasto ? 'GASTO' : 'TRABAJO'}}</span>
                            <br>
                            <span class="letra-card">
                            <b>Valor A Pagar:</b> {{abono.valorAPagar | currency}}
                          </span>

                          </div>
                          <div class="col-sm-6">
                          <span class="letra-card">
                            <b>N° Factura:</b> {{abono.facturaCabecera?.numero}}
                          </span>
                            <br>
                            <span class="letra-card">
                            <b>Fecha Pago:</b> {{abono.fechaPago}}
                          </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div
                          style="margin-top: 20px"
                          class="">
                          <p-button
                            [title]="'Registrar pago'"
                            icon="pi pi-save" styleClass="p-button-sm"
                            (click)="abrirModalPagosAbonos(abono.facturaCabecera)">
                          </p-button>
                        </div>

                      </div>
                    </div>
                    <hr>
                  </div>
                </p-scrollPanel>
              </p-overlayPanel>
            </div>
          </div>
        </div>

      </nz-header>
      <nz-content>
        <div class="row" style="padding-left: 50px">
          <nz-breadcrumb class="mt-4 mb-5" style="font-size: 15px; font-weight: bold;">
            <xng-breadcrumb></xng-breadcrumb>
          </nz-breadcrumb>
        </div>


        <div style="flex: 1 1 0;">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>
        <!--        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>-->
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
<toaster-container></toaster-container>
