<div class="modal-title text-center">
  Seleccione los {{this.data.esServicio ? 'Servicios' : 'Repuestos'}}
  <hr>
</div>

<div
  class="alert alert-primary" role="alert">
  Busque y seleccione un <b>{{this.data.esServicio ? 'Servicio' : 'Repuesto'}}</b> ya registrado en el sistema ó de clic en el botón
  <b><i class="pi pi-plus"></i></b> para registrar uno nuevo.
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- Datos -->
    <dx-data-grid
      #dxDtgData
      class="bagotable border-rounded-gray header-bold header-label-13 header-filter cell-label-12 total-footer-gray"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [columnMinWidth]="50"
      [dataSource]="datos"
      [disabled]="disabledTable"
      [hoverStateEnabled]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnLines]="true"
      [showRowLines]="false"
      [title]="''"
      (onToolbarPreparing)="onToolbarPreparing($event)"
    >
      <dxo-selection
        mode="multiple"
        selectAllMode="page">   <!-- or "allPages" -->
      </dxo-selection>

      <dxo-header-filter
        [visible]="true"
      >
      </dxo-header-filter>

      <dxo-filter-row
        [visible]="true"
      >
      </dxo-filter-row>

      <dxo-filter-panel
        [filterEnabled]="true"
        [visible]="true"
      >
      </dxo-filter-panel>

      <dxo-scrolling
        [columnRenderingMode]="'virtual'"
        [rowRenderingMode]="'virtual'"
      ></dxo-scrolling>

      <dxo-paging
        [enabled]="true"
        [pageSize]="paginationStart"
      >
      </dxo-paging>

      <dxo-pager
        [visible]="true"
        [displayMode]="'full'"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="pagination"
        [showInfo]="true"
        [showNavigationButtons]="true"
        infoText="Page #{0}. Total: {1} ({2} items)"
      >
      </dxo-pager>


      <dxi-column
        *ngIf="!this.data.esServicio"
        [caption]="'Imagen'"
        [dataField]="'imagen'"
        [alignment]="'center'"
        [minWidth]="200"
        [width]="200"
        [allowFiltering]="false"
        [allowSorting]="false"
        [allowSearch]="false"
        [cellTemplate]="'imagenCell'"
      >
        <div *dxTemplate="let data of 'imagenCell'">
          <p-image
            *ngIf="data.data.archivos?.length && data.data.archivos[0]"
            [src]="setearUrlImagen(data.data)"
            [alt]='data.data.nombre'
            class="responsive" width="80" height="50"
            [preview]="true">
          </p-image>

        </div>
      </dxi-column>


      <dxi-column
        [caption]="'Código'"
        [dataField]="'codigo'"
        [alignment]="'center'"
        [minWidth]="200"
        [width]="200"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Nombre'"
        [dataField]="'nombre'"
        [alignment]="'center'"
        [minWidth]="350"
        [width]="350"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
      </dxi-column>

      <dxi-column
        *ngIf="!this.data.esServicio"
        [caption]="'Stock Actual'"
        [dataField]="'stockActual'"
        [alignment]="'center'"
        [minWidth]="50"
        [width]="50"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
      </dxi-column>

      <!-- actionsCell -->
      <div *dxTemplate="let data of 'actionsCell'">
        <div>
          <button
            (click)="add(data.data)"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            title="Editar"
            class="p-button-rounded p-button-success p-button-text icon-button">
          </button>
        </div>
      </div>
      <!-- actionsCell -->

      <dxo-summary>
        <dxi-total-item
          alignment="right"
          column="dxcActions"
          displayFormat="Ítems {0}"
          summaryType="count"
        >
        </dxi-total-item>
      </dxo-summary>


    </dx-data-grid>
    <!-- Datos -->
  </div>
</div>

<div class="d-flex flex-row-reverse mt-5" mat-dialog-actions>
  <div class="p-2">
    <button
      class="btn btn-success"
      [disabled]="revisarRegistrosSeleccionados()"
      (click)="enviarRepuestosSeleccionados()"
    >
      <i class="pi pi-save" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
      GUARDAR
    </button>
  </div>
  <div class="p-2">
    <button
      class="btn btn-secondary"
      (click)="cancelarModal()">
      <i class="pi pi-times" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
      CANCELAR
    </button>
  </div>
</div>
