<div class="row">
  <div class="col-sm-12">
    <!-- Datos -->
    <dx-data-grid
      #dxDtgData
      class="bagotable border-rounded-gray header-bold header-label-13 header-filter cell-label-12 total-footer-gray"
      keyExpr="id"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [columnMinWidth]="50"
      [dataSource]="datos"
      [disabled]="disabledTable"
      [hoverStateEnabled]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnLines]="true"
      [showRowLines]="false"
      [title]="''"
      (onToolbarPreparing)="onToolbarPreparing($event)"
    >
      <dxo-grouping
        [autoExpandAll]="true"
        [contextMenuEnabled]="true"
        [expandMode]="'rowClick'"
      >
      </dxo-grouping>

      <dxo-group-panel
        [visible]="true"
      >
      </dxo-group-panel>

      <dxo-export
        fileName="SIB_FORM_REGISTROS"
        [allowExportSelectedData]="true"
        [enabled]="true"
        [texts]="{exportTo: 'Exportar datos a Excel'}"
      >
      </dxo-export>

      <dxo-column-chooser
        mode="dragAndDrop"
        [allowSearch]="true"
        [enabled]="true"
      >
      </dxo-column-chooser>

      <dxo-sorting
        mode="multiple"
      >
      </dxo-sorting>

      <dxo-state-storing
        type="localStorage"
        storageKey="dxDtgDataFormInvLineas"
        [enabled]="false"
      >
      </dxo-state-storing>

      <dxo-header-filter
        [visible]="true"
      >
      </dxo-header-filter>

      <dxo-filter-row
        [visible]="true"
      >
      </dxo-filter-row>

      <dxo-filter-panel
        [filterEnabled]="true"
        [visible]="true"
      >
      </dxo-filter-panel>

      <dxo-keyboard-navigation
        [editOnKeyPress]="true"
        [enabled]="true"
        [enterKeyAction]="'moveFocus'"
        [enterKeyDirection]="'row'">
      </dxo-keyboard-navigation>

      <dxo-scrolling
        [columnRenderingMode]="'virtual'"
        [rowRenderingMode]="'virtual'"
      ></dxo-scrolling>

      <dxo-paging
        [enabled]="true"
        [pageSize]="paginationStart"
      >
      </dxo-paging>

      <dxo-pager
        [visible]="true"
        [displayMode]="'full'"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="pagination"
        [showInfo]="true"
        [showNavigationButtons]="true"
        infoText="Page #{0}. Total: {1} ({2} items)"
      >
      </dxo-pager>




      <dxi-column
        [caption]="'Nombre'"
        [dataField]="'nombre'"
        [alignment]="'center'"
        [minWidth]="800"
        [width]="800"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Estado'"
        [dataField]="'estado'"
        [alignment]="'center'"
        [minWidth]="150"
        [width]="150"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
        [cellTemplate]="'estadoCell'"
      >
        <div *dxTemplate="let data of 'estadoCell'">
          <button
            pButton
            pRipple
            type="button"
            [label]="data.data.estado ? 'ACTIVO' : 'INACTIVO'"
            [class]="'p-button-rounded p-button-infop-button-rounded btn-block ' + (data.data.estado ? 'p-button-success' : 'p-button-danger')"
            (click)="cambiarEstado(data.data)"
          >
          </button>
        </div>
      </dxi-column>

      <dxi-column
        [caption]="'ACCIONES'"
        [alignment]="'center'"
        [allowEditing]="true"
        [allowExporting]="false"
        [allowFiltering]="false"
        [allowFixing]="true"
        [allowGrouping]="false"
        [allowHeaderFiltering]="false"
        [allowResizing]="false"
        [allowReordering]="false"
        [allowSearch]="false"
        [allowSorting]="false"
        [cellTemplate]="'actionsCell'"
        [minWidth]="200"
        [name]="'dxcActions'"
        [width]="200"
      >
      </dxi-column>

      <!-- actionsCell -->
      <div *dxTemplate="let data of 'actionsCell'">
        <div>
          <button
            (click)="add(data.data)"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            title="Editar"
            class="p-button-rounded p-button-success p-button-text icon-button">
          </button>

        </div>
      </div>
      <!-- actionsCell -->

      <dxo-summary>
        <dxi-total-item
          alignment="right"
          column="dxcActions"
          displayFormat="Ítems {0}"
          summaryType="count"
        >
        </dxi-total-item>
      </dxo-summary>


    </dx-data-grid>
    <!-- Datos -->
  </div>
</div>

