<div style="padding-top: 20px">

  <div class="row">
    <p-panel header="Información" [toggleable]="true">
      <ng-template pTemplate="icons">
        <i class="pi" [ngClass]="{
                  'pi-check-circle text-success': formularioFacturaCabeceraValido,
                  'pi-times-circle text-danger': !formularioFacturaCabeceraValido
                }"
           style="padding-left:0.8rem; font-size: 1.2rem"
        ></i>
      </ng-template>
      <app-formulario-factura-cabecera
        [data]="facturaPrevia"
        (datosFormulario)="obtenerFacturaCabeceraFormulario($event)"
      >
      </app-formulario-factura-cabecera>
    </p-panel>
  </div>

  <div
    *ngIf="tipoFactura === tipoFacturaEnum.Gasto"
    class="row">
    <p-panel header="Proveedor" [toggleable]="true">
      <ng-template pTemplate="icons">
        <i class="pi" [ngClass]="{
                  'pi-check-circle text-success': formularioProveedorValido,
                  'pi-times-circle text-danger': !formularioProveedorValido
                }"
           style="padding-left:0.8rem; font-size: 1.2rem"
        ></i>
      </ng-template>
      <app-formulario-factura-proveedor
        [data]="facturaPrevia"
        (datosFormulario)="obtenerProveedorFormulario($event)"
      >
      </app-formulario-factura-proveedor>
    </p-panel>
  </div>
  <div class="row">
    <p-panel header="Detalles" [toggleable]="true">
      <ng-template pTemplate="icons">
        <i class="pi" [ngClass]="{
                  'pi-check-circle text-success': this.tablaDetalleFacturaValida && tablaAbonosFacturaValida,
                  'pi-times-circle text-danger': !(this.tablaDetalleFacturaValida && tablaAbonosFacturaValida)
                }"
           style="padding-left:0.8rem; font-size: 1.1rem"
        ></i>
      </ng-template>
      <div class="row">
        <div class="col-sm-12">
          <app-tabla-detalle-factura
            #tablaDetallesFactura
            [detallesPrevios]="detallesPrevios"
            [tipoGasto]="tipoGasto"
            (facturaDetalle)="obtenerTablaDetalles($event)"
          ></app-tabla-detalle-factura>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9"
             *ngIf="arreglototalesFactura.length && tipoGasto">
          <app-tabla-abonos-factura
            *ngIf="mostrarAbonos"
            (arregloAbonosFacturaCambia)="obtenerAbonosFactura($event)"
            [tipoGasto]="tipoGasto"
            [valorTotalFactura]="valorTotalFactura"
            [abonosPrevios]="abonosPrevios"
          ></app-tabla-abonos-factura>
        </div>
        <div class="col-sm-3"
             *ngIf="arreglototalesFactura.length && tipoGasto">
          <app-tabla-totales-factura
            (valorTotalCambia)="recibirValorTotalAPagar($event)"
            (valorIvaCambia)="recibirTarifaIva($event)"
            [tipoGasto]="tipoGasto"
            [arreglototalesFactura]="arreglototalesFactura">
          </app-tabla-totales-factura>
        </div>
      </div>

    </p-panel>
  </div>


</div>
