<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- codigo -->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-3">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="codigo"-->
<!--              >-->
<!--                Código: *-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-9">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <input-->
<!--                    id="codigo"-->
<!--                    [formControlName]="'codigo'"-->
<!--                    type="text"-->
<!--                    class="form-control-sm field-bag"-->
<!--                    readonly="true"-->
<!--                    aria-describedby="parametroCategoriaoHelp"-->
<!--                  >-->
<!--                  <span class="field-label-wrap-bag">-->
<!--                    <span class="field-label-bag">Ingrese el Código</span>-->
<!--                  </span>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.codigo.length>0 && estructuraErrores.codigo[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.codigo">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- nombre -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="nombre"
              >
                Nombre:
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="nombre"
                    [formControlName]="'nombre'"
                    type="text"
                    class="form-control-sm field-bag"
                    readonly="true"

                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag"></span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.nombre.length>0 && estructuraErrores.nombre[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.nombre">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- stockMinimo -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="stockMinimo"
              >
                Stock Mínimo: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="stockMinimo"
                    [formControlName]="'stockMinimo'"
                    type="number"
                    pKeyFilter="pint"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Stock Mínimo</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.stockMinimo.length>0 && estructuraErrores.stockMinimo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.stockMinimo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- stockActual -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="stockActual"
              >
                Stock Actual: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="stockActual"
                    [formControlName]="'stockActual'"
                    type="number"
                    pKeyFilter="pint"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Stock Actual</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.stockActual.length>0 && estructuraErrores.stockActual[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.stockActual">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
