<div class="">
  <p-scrollPanel [style]="{width: '100%', height: '500px'}">
    <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
      <div class="form-group">
        <div class="row">
          <!-- nombreComercial -->
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="nombreComercial"
                >
                  Nombre Comercial: *
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="nombreComercial"
                      [formControlName]="'nombreComercial'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: Ferrisariato"
                      aria-describedby="parametroCategoriaoHelp"
                      [readOnly]="soloVer"
                    >
                    <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Nombre Comercial EJM: Ferrisariato</span>
                  </span>
                  </label>
                </div>
                <small *ngIf="estructuraErrores.nombreComercial.length>0 && estructuraErrores.nombreComercial[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.nombreComercial">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- razonSocial -->
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="razonSocial"
                >
                  Razón Social: *
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="razonSocial"
                      [formControlName]="'razonSocial'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: Oscar Sambache"
                      aria-describedby="parametroCategoriaoHelp"
                      [readOnly]="soloVer"
                    >
                    <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la Razón Social EJM: Oscar Sambache</span>
                  </span>
                  </label>
                </div>
                <small *ngIf="estructuraErrores.razonSocial.length>0 && estructuraErrores.razonSocial[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.razonSocial">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- tipoIdentificacion -->
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="tipoIdentificacion"
                >
                  Tipo de Identificacion: *
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <p-dropdown
                    id="tipoIdentificacion"
                    [options]="tiposIdentificacion"
                    formControlName="tipoIdentificacion"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Seleccione una opción"
                    [showClear]="true"
                    [disabled]="soloVer"
                  ></p-dropdown>
                </div>
                <small *ngIf="estructuraErrores.tipoIdentificacion.length>0 && estructuraErrores.tipoIdentificacion[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.tipoIdentificacion">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- identificacion -->
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="identificacion"
                >
                  Identificación: *
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="identificacion"
                      [formControlName]="'identificacion'"
                      type="text"
                      class="form-control-sm field-bag"
                      pInputText pKeyFilter="int"
                      aria-describedby="parametroCategoriaoHelp"
                      placeholder="EJM: 172418894"
                      [readOnly]="soloVer"
                    >
                    <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la identificación EJM: 172418894</span>
                  </span>
                  </label>
                </div>
                <small *ngIf="estructuraErrores.identificacion.length>0 && estructuraErrores.identificacion[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.identificacion">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- dirección -->
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="direccion"
                >
                  Dirección: *
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="direccion"
                      [formControlName]="'direccion'"
                      type="text"
                      class="form-control-sm field-bag"
                      placeholder="EJM: Av El Inca"
                      aria-describedby="parametroCategoriaoHelp"
                      [readOnly]="soloVer"
                    >
                    <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la dirección EJM: Av El Inca</span>
                  </span>
                  </label>
                </div>
                <small *ngIf="estructuraErrores.direccion.length>0 && estructuraErrores.direccion[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.direccion">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- telefono -->
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="telefono"
                >
                  Teléfono: *
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="telefono"
                      [formControlName]="'telefono'"
                      type="text"
                      class="form-control-sm field-bag"
                      pInputText pKeyFilter="int"
                      aria-describedby="parametroCategoriaoHelp"
                      placeholder="EJM: 0993998734 ó 2424150"
                      [readOnly]="soloVer"
                    >
                    <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el telefóno EJM: 0993998734 ó 2424150</span>
                  </span>
                  </label>
                </div>
                <small *ngIf="estructuraErrores.telefono.length>0 && estructuraErrores.telefono[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.telefono">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>

          <!-- correo -->
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="correo"
                >
                  Correo:
                </label>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <label class="field field-over">
                    <input
                      id="correo"
                      [formControlName]="'correo'"
                      type="email"
                      class="form-control-sm field-bag"
                      aria-describedby="parametroCategoriaoHelp"
                      placeholder="EJM: jon-snow@gto.com"
                      [readOnly]="soloVer"
                    >
                    <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el correo EJM: jon-snow@gto.com</span>
                  </span>
                  </label>
                </div>
                <small *ngIf="estructuraErrores.correo.length>0 && estructuraErrores.correo[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.correo">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </p-scrollPanel>
</div>
