<div class="row">
  <div
    class="col-sm-12">
    <div class="text-center">
      <span>
        <b>TRABAJOS POR CLIENTE</b>
      </span>

    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 px-4">
        <div
          class="row filtro-rango-fechas"
        >
          <div class="mb-2">
      <span style="font-weight: bolder; font-size: 12px;">
        Filtro de busqueda de trabajos por Cliente y fecha
      </span>
          </div>
          <div
            class="row">
            <div class="col-sm-4">
              <div class="row">
                <div class="">Cliente</div>
                <div class="">
                  <p-autoComplete
                    id="cliente"
                    [inputId]="'cliente'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [(ngModel)]="cliente"
                    [suggestions]="clientes"
                    (completeMethod)="buscarClientes($event)"
                    [placeholder]="'Búsque por razón social, nombre comercial o identificación'"
                    [delay]="1000"
                    field="label"
                    [size]="999"
                    [forceSelection]="true"
                    (onSelect)="seleccionoClienteAutoncomplete($event)"
                    (onKeyUp)="seleccionoClienteAutoncomplete($event)"
                  >
                    <ng-template let-cliente pTemplate="item">
                      {{ cliente.label }}
                    </ng-template>
                  </p-autoComplete>

                </div>
              </div>

            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="">Desde</div>
                <div class="">
                  <dx-date-box
                    displayFormat="dd/MM/yyyy"
                    [value]=fechaInicio
                    (valueChange)="cambioFechaInicio($event)"
                    type="date"></dx-date-box>
                </div>
              </div>

            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="">Hasta</div>
                <div class="">
                  <dx-date-box
                    displayFormat="dd/MM/yyyy"
                    size="10" [value]=fechaFin
                    (valueChange)="cambioFechaFin($event)"
                    type="date"></dx-date-box>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
    <br>
    <!-- Datos -->
    <div
      *ngIf="datos.length"
      class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 px-4">
        <div class="card">
          <br>
          <div class="row" style="padding-left: 10px">
            <span class="p-buttonset">
              <button
                pButton
                pRipple
                [label]="!todoAbierto ? 'Cerrar Todo' : 'Abrir Todo'"
                [icon]="!todoAbierto ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
                (click)="abrirCerrarTodo()">

              </button>
              <button
                pButton
                pRipple
                [label]="'Ordenar Por Fecha'"
                [icon]="ordenFechas === 1 ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down'"
                (click)="ordenar()">
              </button>
            </span>
          </div>
          <br>
          <mat-accordion
            class="example-headers-align" multi>
            <div
              *ngFor="let trabajo of datos"
              class="">
              <mat-expansion-panel>
                <mat-expansion-panel-header
                  style="background-color: #a9b7d1"
                >
                  <div class="col-sm-12" role="alert">
                    <div class="row">
                      <div class="col-sm-4">
                        <span><b>{{trabajo.placa}} - {{trabajo?.kmEntrada}} km</b> </span>
                      </div>
                      <div class="col-sm-4">
                        <span><b>Fecha Recepción: </b> {{trabajo?.fechaRecepcion}}</span>
                      </div>
                      <div class="col-sm-4">
                        <span><b>Total: </b> {{setearTotal(trabajo?.detalles) | currency}}</span>
                      </div>
                    </div>
                  </div>

                </mat-expansion-panel-header>

                <div class="">
                  <div class="row alert alert-warning" role="alert">
                    <div class="col-md-12 col-sm-12 mb-3">
                      <div class="row">
                        <div class="col-sm-2">
                          <label
                            class="control-label text-bago-primary inline-label-no-overflow"
                            for="observacion"
                          >
                            Observaciones de la Recepción:
                          </label>
                        </div>
                        <div class="col-sm-10">
                          <div class="row">
                            <label class="field field-over">
                                    <textarea
                                      id="observacion"
                                      [value]="trabajo.observacionRecepcion"
                                      class="form-control-sm field-bag"
                                      autocomplete="off"
                                      rows="1"
                                      [readOnly]="true"
                                    >
                                    </textarea>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mb-3">
                      <div class="row">
                        <div class="col-sm-2">
                          <label
                            class="control-label text-bago-primary inline-label-no-overflow"
                            for="observacionOT"
                          >
                            Observaciones de la Orden de Trabajo:
                          </label>
                        </div>
                        <div class="col-sm-10">
                          <div class="row">
                            <label class="field field-over">
                                    <textarea
                                      id="observacionOT"
                                      [value]="trabajo.observacionOrden"
                                      class="form-control-sm field-bag"
                                      autocomplete="off"
                                      rows="1"
                                      [readOnly]="true"
                                    >
                                    </textarea>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mb-3">
                      <div class="row">
                        <div class="col-sm-2">
                          <label
                            class="control-label text-bago-primary inline-label-no-overflow"
                            for="observacionTR"
                          >
                            Observaciones del Trabajo Realizado:
                          </label>
                        </div>
                        <div class="col-sm-10">
                          <div class="row">
                            <label class="field field-over">
                                    <textarea
                                      id="observacionTR"
                                      [value]="trabajo.observacionTrabajoRealizado"
                                      class="form-control-sm field-bag"
                                      autocomplete="off"
                                      rows="1"
                                      [readOnly]="true"
                                    >
                                    </textarea>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <br>
                  <app-tabla-detalle-factura
                    #tablaDetallesFactura
                    [detallesPrevios]="trabajo?.detalles"
                    [tipoGasto]="tipoGasto"
                    [esFactura]="true"
                    [estadoOrdenTrabajo]="estadoAccion"
                    [soloVer]="true"
                  ></app-tabla-detalle-factura>
                </div>

              </mat-expansion-panel>
            </div>
          </mat-accordion>
        </div>
      </div>
    </div>
    <!-- Datos -->
  </div>
</div>

