<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- codigo -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="codigo"
              >
                Código: *
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="codigo"
                    [formControlName]="'codigo'"
                    type="text"
                    class="form-control-sm field-bag"
                    [placeholder]="'EJM 0001'"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Código EJM 0001</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.codigo.length>0 && estructuraErrores.codigo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.codigo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- nombre -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-md-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="nombre"
              >
                Nombre: *
              </label>
            </div>
            <div class="col-md-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="nombre"
                    [formControlName]="'nombre'"
                    type="text"
                    class="form-control-sm field-bag"
                    [placeholder]="'EJM: Batería Bosch Modelo S4 42-45 FE'"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Nombre EJM: Batería Bosch Modelo S4 42-45 FE</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.nombre.length>0 && estructuraErrores.nombre[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.nombre">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- seccion -->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-md-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="seccion"-->
<!--              >-->
<!--                Sección: *-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <span class="field-label-bag">Selecciono o registre el Nombre</span>-->
<!--                  <p-autoComplete-->
<!--                    id="seccion"-->
<!--                    [inputId]="'seccion'"-->
<!--                    [dropdown]="true"-->
<!--                    [emptyMessage]="'No se encontro coincidencias.'"-->
<!--                    [formControlName]="'seccion'"-->
<!--                    [suggestions]="secciones"-->
<!--                    (completeMethod)="buscarSecciones($event)"-->
<!--                    [placeholder]="'Búsque y seleccione una sección'"-->
<!--                    [delay]="1000"-->
<!--                    field="nombre"-->
<!--                    [size]="999"-->
<!--                    [forceSelection]="true"-->
<!--                  >-->
<!--                    <ng-template let-seccion pTemplate="item">-->
<!--                      {{ seccion.nombre }}-->
<!--                    </ng-template>-->
<!--                  </p-autoComplete>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.seccion.length>0 && estructuraErrores.seccion[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.seccion">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--            <div class="col-sm-1">-->
<!--              <div class="row">-->
<!--                <button-->
<!--                  pButton-->
<!--                  pRipple-->
<!--                  type="button"-->
<!--                  icon="pi pi-plus"-->
<!--                  title="Agregar Sección"-->
<!--                  class="p-button-primary"-->
<!--                  (click)="agregarSeccion()">-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- subseccion -->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-md-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="subseccion"-->
<!--              >-->
<!--                Subsección:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <p-autoComplete-->
<!--                    id="subseccion"-->
<!--                    [inputId]="'subseccion'"-->
<!--                    [dropdown]="true"-->
<!--                    [emptyMessage]="'No se encontro coincidencias.'"-->
<!--                    [formControlName]="'subseccion'"-->
<!--                    [suggestions]="subsecciones"-->
<!--                    (completeMethod)="buscarSubsecciones($event)"-->
<!--                    [placeholder]="'Búsque y seleccione una subsección'"-->
<!--                    [delay]="1000"-->
<!--                    field="nombre"-->
<!--                    [size]="999"-->
<!--                    [forceSelection]="true"-->
<!--                  >-->
<!--                    <ng-template let-subseccion pTemplate="item">-->
<!--                      {{ subseccion.nombre }}-->
<!--                    </ng-template>-->
<!--                  </p-autoComplete>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.subseccion.length>0 && estructuraErrores.subseccion[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.subseccion">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--            <div class="col-sm-1">-->
<!--              <div class="row">-->
<!--                <button-->
<!--                  pButton-->
<!--                  pRipple-->
<!--                  type="button"-->
<!--                  icon="pi pi-plus"-->
<!--                  title="Agregar Subección"-->
<!--                  class="p-button-primary"-->
<!--                  (click)="agregarSubseccion()">-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- precioVenta -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-md-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="precioVenta"
              >
                Precio de Venta: *
              </label>
            </div>
            <div class="col-md-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="precioVenta"
                    [formControlName]="'precioVenta'"
                    type="number"
                    pKeyFilter="money"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM 10.00"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese Precio de Venta EJM: 10.00</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.precioVenta.length>0 && estructuraErrores.precioVenta[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.precioVenta">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- costo -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-md-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="costo"
              >
                Costo: *
              </label>
            </div>
            <div class="col-md-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="costo"
                    [formControlName]="'costo'"
                    type="number"
                    pKeyFilter="money"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM 10.00"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Costo EJM: 10.00</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.costo.length>0 && estructuraErrores.costo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.costo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- stockActual -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="stockActual"
              >
                Stock Actual:
              </label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="stockActual"
                    [formControlName]="'stockActual'"
                    type="number"
                    pKeyFilter="pint"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Stock Actual</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.stockActual.length>0 && estructuraErrores.stockActual[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.stockActual">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- stockMinimo -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-md-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="stockMinimo"
              >
                Stock Mínimo: *
              </label>
            </div>
            <div class="col-md-10">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="stockMinimo"
                    [formControlName]="'stockMinimo'"
                    type="number"
                    pKeyFilter="pint"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    placeholder="EJM 1"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el Stock Mínimo EJM: 1</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.stockMinimo.length>0 && estructuraErrores.stockMinimo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.stockMinimo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- codigoBarras -->
<!--        <div class="col-md-12 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-md-2">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="codigoBarras"-->
<!--              >-->
<!--                Código de Barras:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-md-10">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <textarea-->
<!--                    id="codigoBarras"-->
<!--                    [formControlName]="'codigoBarras'"-->
<!--                    type="text"-->
<!--                    class="form-control-sm field-bag"-->
<!--                    aria-describedby="parametroCategoriaoHelp"-->
<!--                    autocomplete="off"-->
<!--                    rows="1"-->
<!--                    placeholder="EJM: 00135463500"-->
<!--                  >-->
<!--                  </textarea>-->
<!--                  <span class="field-label-wrap-bag">-->
<!--                    <span class="field-label-bag">Ingrese el Código de Barras EJM: 00135463500</span>-->
<!--                  </span>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.codigoBarras.length>0 && estructuraErrores.codigoBarras[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.codigoBarras">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- ubicacion -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-md-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="ubicacion"
              >
                Ubicación:
              </label>
            </div>
            <div class="col-md-10">
              <div class="row">
                <label class="field field-over">
                  <textarea
                    id="ubicacion"
                    [formControlName]="'ubicacion'"
                    type="text"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    autocomplete="off"
                    rows="1"
                    placeholder="EJM: Repuesto para autos eléctricos"
                    [readOnly]="soloVer"
                  >
                  </textarea>
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la ubicación EJM: Ubicación r-78</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.ubicacion.length>0 && estructuraErrores.ubicacion[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.ubicacion">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- observacion -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-md-2">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="observacion"
              >
                Observación:
              </label>
            </div>
            <div class="col-md-10">
              <div class="row">
                <label class="field field-over">
                  <textarea
                    id="observacion"
                    [formControlName]="'observacion'"
                    type="text"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    autocomplete="off"
                    rows="5"
                    placeholder="EJM: Repuesto bajo pedidos"
                    [readOnly]="soloVer"
                  >
                  </textarea>
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la observacion EJM: Repuesto bajo pedidos</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.observacion.length>0 && estructuraErrores.observacion[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.observacion">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
