<div>
  <div class="modal-title text-center">
    Contacto
    <hr>
  </div>
  <div class="mt-4 mb-2">
    <div class="row">
      <div class="col-sm-12">
        <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*).'}}</p>
      </div>
    </div>
    <br>
    <app-formulario-contacto
      [data]="contactoACrear"
      (datosFormulario)="crearEditar($event)"
    ></app-formulario-contacto>
  </div>


  <div class="d-flex flex-row-reverse mt-5" mat-dialog-actions>
    <div class="p-2">
      <button
        class="btn btn-success"
        [disabled]="!contactoACrear"
        (click)="enviarDatosFormulario()"
      >
        <i class="pi pi-save" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
        GUARDAR
      </button>
    </div>
    <div class="p-2">
      <button
        class="btn btn-secondary"
        (click)="cancelarModal()">
        <i class="pi pi-times" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
        CANCELAR
      </button>
    </div>
  </div>

</div>
