<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- proveedor -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="proveedor"
              >
                Proveedor: *
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <p-autoComplete
                    id="proveedor"
                    [inputId]="'proveedor'"
                    [dropdown]="true"
                    [emptyMessage]="'No se encontro coincidencias.'"
                    [formControlName]="'proveedor'"
                    [suggestions]="proveedores"
                    (completeMethod)="buscarProveedores($event)"
                    [placeholder]="'Búsque y seleccione un proveedor'"
                    [delay]="1000"
                    field="informacionTributaria.nombreComercial"
                    [size]="999"
                    [forceSelection]="true"
                  >
                    <ng-template let-proveedor pTemplate="item">
                      {{ proveedor.informacionTributaria.nombreComercial }}
                    </ng-template>
                  </p-autoComplete>
                </label>
              </div>
              <small *ngIf="estructuraErrores.proveedor.length>0 && estructuraErrores.proveedor[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.proveedor">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
            <div class="col-sm-1">
              <div class="row">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  title="Agregar Proveedor"
                  class="p-button-primary"
                  (click)="agregarProveedor()">
                </button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
