<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- tipoContacto -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="tipoContacto"
              >
                Tipo: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <p-dropdown
                  id="tipoContacto"
                  [options]="tiposContactos"
                  formControlName="tipoContacto"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Seleccione una opción"
                  [showClear]="true"
                ></p-dropdown>
              </div>
              <small *ngIf="estructuraErrores.tipoContacto.length>0 && estructuraErrores.tipoContacto[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.tipoContacto">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- valor -->
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="valor"
              >
                Valor: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="valor"
                    [formControlName]="'valor'"
                    type="text"
                    class="form-control-sm field-bag"
                    placeholder="EJM: 0992995452 ó jon-snow@got.com"
                    aria-describedby="parametroCategoriaoHelp"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese el valor EJM: 0992995452 ó jon-snow@got.com</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.valor.length>0 && estructuraErrores.valor[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.valor">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
