<div class="card container">
  <br>
  <div class="row">
    <app-formulario-trabajo
      *ngIf="!estaCargando"
      [data]="trabajoPrevio"
      (datosFormulario)="obtenerTrabajo($event)"
      [soloVer]="this.soloVer"
    ></app-formulario-trabajo>
  </div>
  <br>
  <hr>
  <div
    *ngIf="!soloVer"
    class="alert alert-primary" role="alert">
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <label>
            <b>Desea que el trabajo afecte el inventario:</b>
          </label>
        </div>
        <div class="col-sm-4">
          <div class="row">
              <p-inputSwitch [(ngModel)]="afectarInventario"></p-inputSwitch>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <p-tabView>
    <p-tabPanel
      header="Recepción del Vehículo" tooltip="Recepción del Vehículo">

      <app-formulario-recepcion
        *ngIf="!estaCargando"
        [data]="recepcionPrevia"
        [soloVer]="soloVer"
        (datosFormulario)="obtenerRecepcion($event)"
      ></app-formulario-recepcion>
      <br>
      <div class="col-sm-12" style="padding-bottom: 25px">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex flex-row-reverse text-center">
              <button
                *ngIf="!soloVer"
                [disabled]="!formularioRecepcionValido"
                (click)="guardarRecepcionVehiculo(estadosTrabajo.Finalizado)"
                pButton pRipple type="button" class="p-button-times-circle p-button-success">
                FINALIZAR
                <i class="pi pi-check-circle"
                   style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
              </button>
              <button
                *ngIf="!(recepcionPrevia?.estadoAccion === estadosTrabajo.Finalizado)"
                [disabled]="!formularioRecepcionValido"
                (click)="guardarRecepcionVehiculo(estadosTrabajo.Guardado)"
                pButton pRipple type="button" class="p-button-times-circle p-button-primary">
                GUARDAR
                <i class="pi pi-check-circle"
                   style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
              </button>
            </div>

          </div>
        </div>
      </div>

    </p-tabPanel>

<!--    <p-tabPanel-->
<!--      header="Orden de Trabajo" tooltip="Orden de Trabajo">-->
<!--      <div-->
<!--        *ngIf="!(recepcionPrevia && recepcionPrevia.estadoAccion === estadosTrabajo.Finalizado)"-->
<!--        class="alert alert-warning" role="alert">-->
<!--        Es necesario finalizar la <b>Recepción del Vehículo</b> para ingresar la <b>Orden de Trabajo</b>-->
<!--      </div>-->
<!--      <app-formulario-orden-trabajo-->
<!--        *ngIf="!estaCargando && recepcionPrevia && recepcionPrevia.estadoAccion === estadosTrabajo.Finalizado"-->
<!--        [trabajo]="trabajoPrevio"-->
<!--        [data]="ordenTrabajoPrevio"-->
<!--        (datosFormulario)="obtenerOrdenTrabajo($event)"-->
<!--        [soloVer]="soloVer"-->
<!--      ></app-formulario-orden-trabajo>-->
<!--      <br>-->
<!--      <div class="col-sm-12" style="padding-bottom: 25px">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-12">-->
<!--            <div class="d-flex flex-row-reverse text-center">-->
<!--              <button-->
<!--                *ngIf="!soloVer"-->
<!--                [disabled]="!formularioOrdenTrabajoValido"-->
<!--                (click)="guardarOrdenTrabajo(estadosTrabajo.Finalizado)"-->
<!--                pButton pRipple type="button" class="p-button-times-circle p-button-success">-->
<!--                FINALIZAR-->
<!--                <i class="pi pi-check-circle"-->
<!--                   style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>-->
<!--              </button>-->
<!--              <button-->
<!--                *ngIf="!(ordenTrabajoPrevio?.estadoAccion === estadosTrabajo.Finalizado)"-->
<!--                [disabled]="!formularioOrdenTrabajoValido"-->
<!--                (click)="guardarOrdenTrabajo(estadosTrabajo.Guardado)"-->
<!--                pButton pRipple type="button" class="p-button-times-circle p-button-primary">-->
<!--                GUARDAR-->
<!--                <i class="pi pi-check-circle"-->
<!--                   style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>-->
<!--              </button>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </p-tabPanel>-->

    <p-tabPanel
      header="Trabajo Realizado" tooltip="Trabajo Realizado">
      <div
          *ngIf="!(recepcionPrevia && recepcionPrevia.estadoAccion === estadosTrabajo.Finalizado)"
          class="alert alert-warning" role="alert">
        Es necesario finalizar la <b>Recepción del Vehículo</b> para ingresar el <b>Trabajo Realizado</b>
      </div>
      <app-formulario-trabajo-realizado
        *ngIf="!estaCargando && recepcionPrevia && recepcionPrevia.estadoAccion === estadosTrabajo.Finalizado"
        [trabajo]="trabajoPrevio"
        [data]="trabajoRealizadoPrevio"
        (datosFormulario)="obtenerTrabajoRealizado($event)"
        [soloVer]="soloVer"
      ></app-formulario-trabajo-realizado>
      <br>
      <div class="col-sm-12" style="padding-bottom: 25px">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex flex-row-reverse text-center">
              <button
                *ngIf="!soloVer"
                [disabled]="!formularioTrabajoRealizadoValido"
                (click)="guardarTrabajoRealizado(estadosTrabajo.Finalizado)"
                pButton pRipple type="button" class="p-button-times-circle p-button-success">
                FINALIZAR
                <i class="pi pi-check-circle"
                   style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
              </button>
              <button
                *ngIf="!(trabajoRealizadoPrevio?.estadoAccion === estadosTrabajo.Finalizado)"
                [disabled]="!formularioTrabajoRealizadoValido"
                (click)="guardarTrabajoRealizado(estadosTrabajo.Guardado)"
                pButton pRipple type="button" class="p-button-times-circle p-button-primary">
                GUARDAR
                <i class="pi pi-check-circle"
                   style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel
      header="Factura" tooltip="Factura">
      <div
        *ngIf="!(trabajoRealizadoPrevio && trabajoRealizadoPrevio.estadoAccion === estadosTrabajo.Finalizado)"
        class="alert alert-warning" role="alert">
        Es necesario finalizar el <b>Trabajo Realizado</b> para ingresar la <b>Factura</b>
      </div>
      <app-formulario-factura
        *ngIf="!estaCargando && trabajoRealizadoPrevio && trabajoRealizadoPrevio.estadoAccion === estadosTrabajo.Finalizado"
        [trabajo]="trabajoPrevio"
        [data]="facturaPrevio"
        (datosFormulario)="obtenerFactura($event)"
        [soloVer]="soloVer"
      ></app-formulario-factura>
      <br>
      <div class="col-sm-12" style="padding-bottom: 25px">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex flex-row-reverse text-center">
              <button
                *ngIf="!soloVer"
                [disabled]="!formularioFacturaValido"
                (click)="guardarFactura(estadosTrabajo.Finalizado)"
                pButton pRipple type="button" class="p-button-times-circle p-button-success">
                FINALIZAR
                <i class="pi pi-check-circle"
                   style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
              </button>
              <button
                *ngIf="!(facturaPrevio?.estadoAccion === estadosTrabajo.Finalizado)"
                [disabled]="!formularioFacturaValido"
                (click)="guardarFactura(estadosTrabajo.Guardado)"
                pButton pRipple type="button" class="p-button-times-circle p-button-primary">
                GUARDAR
                <i class="pi pi-check-circle"
                   style="font-size: 0.7rem; font-weight: bold; margin-right: 2px; margin-left: 5px;"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel
      header="Gastos Extras" tooltip="Gastos Extras">
      <div
        *ngIf="!(recepcionPrevia && recepcionPrevia.estadoAccion === estadosTrabajo.Finalizado)"
        class="alert alert-warning" role="alert">
        Es necesario finalizar la <b>Recepción del Vehículo</b> para agregar gastos
      </div>
      <div
        *ngIf="!estaCargando && recepcionPrevia && recepcionPrevia.estadoAccion === estadosTrabajo.Finalizado"
        class="">
        <br>
        <h6>
          <b>Facturas de Repuestos Extras</b>
        </h6>
        <hr>
        <div
          class="row">
          <div class="col-sm-12">
            <button
              (click)="agregarGasto()"
              class="p-button-secondary"
              pButton pRipple label="Agregar Factura" icon="pi pi-plus"></button>
          </div>

        </div>
        <hr>
        <br>
        <p-table
          [value]="gastos"
          responsiveLayout="scroll"
          [showCurrentPageReport]="true"
          [columns]="columns"
          styleClass="p-datatable-sm"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th
                [style.width]="col.width"
                *ngFor="let col of columns">
                <div class="text-center">
                  {{col.header}}
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-detalle let-columns="columns" let-rowIndex="rowIndex">
            <tr>
              <td *ngFor="let col of columns" >
                <div *ngIf="col.field === 'tipoGasto'">
                  {{tipoGastoEnum[detalle.tipoGasto]}}
                </div>
                <div *ngIf="col.field === 'valorAPagar'">
                  {{detalle.valorAPagar | currency}}
                </div>
                <div *ngIf="col.field === 'valorPagado'">
                  {{detalle.valorPagado | currency}}
                </div>
                <div *ngIf="col.field === 'numero'">
                  {{detalle.facturaCabecera?.numero}}
                </div>
                <div *ngIf="col.field === 'fechaEmision'">
                  {{detalle.facturaCabecera?.fechaEmision}}
                </div>
                <div *ngIf="col.field === 'proveedor'">
                  {{detalle.facturaCabecera?.razonSocialProveedor}}
                </div>
                <div *ngIf="col.field === 'estado'">
                  {{detalle.estadoGastoAccion}}
                </div>
                <div *ngIf="col.field === 'acciones'">
                  <div
                    class="">
                    <button
                      (click)="abrirModalPagosAbonos(detalle)"
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-money-bill"
                      title="Ver Pagos/Abonos"
                      class="p-button-rounded p-button-success p-button-text icon-button">
                    </button>
                    <button
                      pButton
                      (click)="agregarGasto(detalle, detalle.facturaCabecera, false)"
                      pRipple
                      type="button"
                      icon="pi pi-pencil"
                      title="Editar"
                      class="p-button-rounded p-button-success p-button-text icon-button">
                    </button>
                    <button
                      (click)="agregarGasto(detalle, detalle.facturaCabecera, true)"
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-eye"
                      title="Ver"
                      class="p-button-rounded p-button-success p-button-text icon-button">
                    </button>
                    <button
                      (click)="eliminar(detalle)"
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-trash"
                      title="Eliminar"
                      class="p-button-rounded p-button-danger p-button-text icon-button">
                    </button>
                  </div>

                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                Sin registros
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
      <br>
      <br>
      <br>
    </p-tabPanel>
  </p-tabView>

</div>
