<div class="">
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">
        <!-- tipoGasto -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="tipoGasto"
              >
                Tipo de Gasto: *
              </label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <p-dropdown
                  id="tipoGasto"
                  [options]="tiposGasto"
                  formControlName="tipoGasto"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Seleccione una opción"
                  [showClear]="!data"
                  (onChange)="cambioTipoGasto($event)"
                  (onClear)="cambioTipoGasto($event)"
                  [readonly]="!!data"
                ></p-dropdown>
              </div>
              <small *ngIf="estructuraErrores.tipoGasto.length>0 && estructuraErrores.tipoGasto[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.tipoGasto">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- valorAPagar -->
<!--        <div -->
<!--          class="col-md-6 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-3">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="valorAPagar"-->
<!--              >-->
<!--                Valor A Pagar:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-9">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <input-->
<!--                    id="valorAPagar"-->
<!--                    [formControlName]="'valorAPagar'"-->
<!--                    type="text"-->
<!--                    pKeyFilter="money"-->
<!--                    class="form-control-sm field-bag"-->
<!--                    readonly="true"-->
<!--                    aria-describedby="parametroCategoriaoHelp"-->
<!--                  >-->
<!--                  <span class="field-label-wrap-bag">-->
<!--                    <span class="field-label-bag">Ingrese el Valor a Pagar</span>-->
<!--                  </span>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.valorAPagar.length>0 && estructuraErrores.valorAPagar[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.valorAPagar">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- valorPagado -->
<!--        <div class="col-md-6 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-3">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="valorPagado"-->
<!--              >-->
<!--                Valor Pagado :-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-9">-->
<!--              <div class="row">-->
<!--                <label class="field field-over">-->
<!--                  <input-->
<!--                    id="valorPagado"-->
<!--                    [formControlName]="'valorPagado'"-->
<!--                    type="text"-->
<!--                    pKeyFilter="money"-->
<!--                    class="form-control-sm field-bag"-->
<!--                    aria-describedby="parametroCategoriaoHelp"-->
<!--                    readonly="true"-->
<!--                  >-->
<!--                  <span class="field-label-wrap-bag">-->
<!--                    <span class="field-label-bag">Ingrese el Valor a Pagar</span>-->
<!--                  </span>-->
<!--                </label>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.valorPagado.length>0 && estructuraErrores.valorPagado[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.valorPagado">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </form>
</div>
