<div class="container">
  <div
    *ngIf="!configuracion"
    class="alert alert-warning" role="alert">
    Ingrese la información de configuración de su empresa para usar el sistema
  </div>
  <br>
  <div
    *ngIf="!cargando"
    class="card">
    <div style="padding-top: 2%" class="row container">
      <div class="col-sm-12">
        <h5><b>Información de Configuración</b></h5>
        <hr>
        <app-formulario-configuracion
        [data]="configuracion"
        (datosFormulario)="crearEditar($event)"
        ></app-formulario-configuracion>
        <div class="d-flex flex-row-reverse" >
          <div class="p-2">
            <button
              [disabled]="!configuracionACrear"
              class="btn btn-success"
              (click)="add()"
            >
              <i class="pi pi-save" style="font-size: 0.7rem; font-weight: bold;"></i>
              GUARDAR
            </button>
          </div>
          <div class="p-2">
            <button
              class="btn btn-secondary"
              (click)="cancelarModal()">
              <i class="pi pi-times" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
              CANCELAR
            </button>
          </div>
          <div class="p-2">
            <button
              class="btn btn-warning"
              (click)="generarArchivoRespaldo()">
              <i class="pi pi-database" style="font-size: 0.7rem; font-weight: bold; margin-right: 2px;"></i>
              GENERAR ARCHIVO RESPALDO
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
