<div class="row">
  <div
    *ngIf="!soloVer"
    class="">
    <div class="col-sm-12">
      <div
        *ngIf="!tipoGasto"
        class="alert alert-info" role="alert">
        Es necesario seleccionar el tipo de gasto para agregar los detalles a la factura
      </div>
      <div
        *ngIf="tipoGasto && tipoGasto === tipoGastoEnum.Producto"
        class="alert alert-info" role="alert">
        Para gasto de tipo <b>Productos / Servicios</b> no es necesario ingresar los detalles de la factura
      </div>
    </div>
    <div class="col-sm-12" style="padding-bottom: 10px">
      <button
        *ngIf="tipoGasto && validarEstadoTrabajo() && !esFactura"
        [disabled]="!tipoGasto"
        (click)="agregarDetalles(0)"
        class="p-button-secondary"
        pButton pRipple [label]="'Agregar ' + (tipoGasto === tipoGastoEnum.Producto ? 'Producto / Servicio' : 'Repuesto')"
        icon="pi pi-plus"></button>
      <button
        *ngIf="tipoGasto && (this.esOrdenTrabajo || this.esTrabajoRealizado) && validarEstadoTrabajo()"
        [disabled]="!tipoGasto"
        (click)="agregarDetalles(1)"
        class="p-button-primary"
        pButton pRipple [label]="'Agregar ' + (tipoGasto === tipoGastoEnum.Producto ? 'Producto' : 'Servicio')"
        icon="pi pi-plus"></button>
      <button
        *ngIf="tipoGasto && (this.esOrdenTrabajo || this.esTrabajoRealizado) && validarEstadoTrabajo()"
        [disabled]="!tipoGasto"
        (click)="agregarDetalles(0, 1)"
        class="p-button-help"
        pButton pRipple [label]="'Agregar Extra'"
        icon="pi pi-plus"></button>
      <br>
    </div>
    <div
      class="col-sm-12" >
      <div
        *ngIf="tipoGasto && !validarTipoDetalle()"
        style="padding-top: 10px"
        class="alert alert-warning" role="alert">
        Los detalles agregados deben ser <b>{{ (tipoGasto == tipoGastoEnum.Producto ? 'Productos / Servicio' : 'Repuestos')}}</b>
      </div>
      <div
        *ngIf="!esOrdenTrabajo && !validarTotalDetalle()"
        style="padding-top: 10px"
        class="alert alert-warning" role="alert">
        Los registros no deben tener un total de 0.00
      </div>
    </div>
  </div>
  <div
    *ngIf="tipoGasto"
    class="col-sm-12">
    <p-table
      [value]="datos"
      responsiveLayout="scroll"
      (onEditComplete)="seEditoColumna($event)"
      [showCurrentPageReport]="true"
      [columns]="columns"
      editMode="row"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [style.width]="col.width"
            *ngFor="let col of columns">
            <div class="text-center">
              {{col.header}}
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-detalle let-columns="columns" let-rowIndex="rowIndex">
        <tr>
          <td *ngFor="let col of columns" [pEditableColumn]="detalle">
            <div *ngIf="col.field === 'cantidad'">
              <p-cellEditor
              *ngIf="mostrarCellEditorCantidad()"
              >
                <ng-template pTemplate="input">
                  <input
                    [(ngModel)]="detalle.cantidad"
                    type="number"
                    [pKeyFilter]="'pint'"
                    [min]="1"
                    (change)="ingresoCantidad(detalle)"
                  >
                  <p
                    *ngIf="!validarCantidadIngresada(detalle)"
                    style="color:red;">Ingrese un valor menor al stock actual: {{detalle.articulo?.stockActual}}</p>
                </ng-template>
                <ng-template pTemplate="output">
                  {{detalle.cantidad}}
                  <i style="font-size: 10px" class="pi pi-pencil"></i>
                  <p
                    *ngIf="!validarCantidadIngresada(detalle)"
                    style="color:red;">Ingrese un valor menor al stock actual: {{detalle.articulo?.stockActual}}</p>
                </ng-template>
              </p-cellEditor>
              <div
                *ngIf="!mostrarCellEditorCantidad()"
                class="text-center">
                {{detalle.cantidad}}
              </div>
            </div>

            <div *ngIf="col.field === 'descripcion'">
              <div
                *ngIf="tipoGasto === tipoGastoEnum.Repuesto"
              >
                {{detalle.articulo?.nombre}}
              </div>
              <p-cellEditor
                *ngIf="tipoGasto === tipoGastoEnum.Producto || !detalle.articulo"
              >
                <ng-template pTemplate="input">
                  <input type="text" pInputText [(ngModel)]="detalle.descripcion">
                </ng-template>
                <ng-template pTemplate="output">
                  {{detalle.descripcion}}
                  <i style="font-size: 10px" class="pi pi-pencil"></i>
                </ng-template>
              </p-cellEditor>
            </div>

            <div *ngIf="col.field === 'precioUnitario'">
              <p-cellEditor
                *ngIf="mostrarCellEditorCantidad()"
              >
                <ng-template pTemplate="input">
                  <input
                    [(ngModel)]="detalle.precioUnitario"
                    type="number"
                    [pKeyFilter]="'money'"
                  >
                </ng-template>
                <ng-template pTemplate="output">
                  {{detalle.precioUnitario | currency}}
                  <i style="font-size: 10px" class="pi pi-pencil"></i>
                </ng-template>
              </p-cellEditor>
              <div
                *ngIf="!mostrarCellEditorCantidad()"
                class="text-center">
                {{detalle.precioUnitario | currency}}
              </div>
            </div>

            <div *ngIf="col.field === 'ivaPorcentaje'">
              <p-cellEditor
                *ngIf="mostrarCellEditorCantidad()"
              >
                <ng-template pTemplate="input">
                  <select
                    [(ngModel)]="detalle.ivaDescripcion"
                    (change)="cambiarTarifa(detalle)"
                    name="tarifas" id="tarifas">
                    <option *ngFor="let tarifa of tarifas" [value]="tarifa.label">{{tarifa.label}}</option>
                  </select>
                </ng-template>
                <ng-template pTemplate="output">
                  {{(detalle.ivaPorcentaje || detalle.ivaPorcentaje === 0) ? (detalle.ivaDescripcion) : null}}
                  <i style="font-size: 10px" class="pi pi-pencil"></i>
                </ng-template>
              </p-cellEditor>
              <div
                *ngIf="!mostrarCellEditorCantidad()"
                class="text-center">
                {{(detalle.ivaPorcentaje || detalle.ivaPorcentaje === 0) ? (detalle.ivaDescripcion) : null}}
              </div>
            </div>

            <div *ngIf="col.field === 'valorIva'">
              {{detalle.valorIva | currency}}
            </div>

            <div *ngIf="col.field === 'descuento'">
              <p-cellEditor
                *ngIf="mostrarCellEditorCantidad()"
              >
                <ng-template pTemplate="input">
                  <input
                    [(ngModel)]="detalle.descuento"
                    type="number"
                    [pKeyFilter]="'pint'"
                    [min]="0"
                    [max]="setearValorMaximoDescuento(detalle)"
                    (change)="ingresoDescuento(detalle)"
                  >
                  <p
                    *ngIf="!validarDescuento(detalle)"
                    style="color:red;">Ingrese un valor menor o igual al 100%</p>
                </ng-template>
                <ng-template pTemplate="output">
                  {{detalle.descuento + ' %'}}
                  <i style="font-size: 10px" class="pi pi-pencil"></i>
                </ng-template>
              </p-cellEditor>
              <div
                *ngIf="!mostrarCellEditorCantidad()"
                class="text-center">
                {{detalle.descuento + ' %'}}
              </div>
            </div>


            <div *ngIf="col.field === 'total'">
              {{detalle.total | currency}}
            </div>


            <div *ngIf="col.field === 'valorIce'">
              <p-cellEditor
                *ngIf="mostrarCellEditorCantidad()"
              >
                <ng-template pTemplate="input">
                  <input
                    [(ngModel)]="detalle.valorIce"
                    type="number"
                    [pKeyFilter]="'money'"
                  >
                </ng-template>
                <ng-template pTemplate="output">
                  {{detalle.valorIce | currency}}
                  <i style="font-size: 10px" class="pi pi-pencil"></i>
                </ng-template>
              </p-cellEditor>
              <div
                *ngIf="!mostrarCellEditorCantidad()"
                class="text-center">
                {{detalle.valorIce | currency}}
              </div>
            </div>
            <div *ngIf="col.field === 'id'">
              <button
                *ngIf="validarEstadoTrabajo()"
                (click)="quitar(rowIndex)"
                pButton
                pRipple
                type="button"
                icon="pi pi-times"
                title="Eliminar"
                class="p-button-rounded p-button-danger p-button-text icon-button">
              </button>
            </div>


          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            Sin registros
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
