@import "./scss/main.scss";

$base-font-family: 'Open Sans', sans-serif;

html,
body {
  height: 100%;
}

body .p-component {
  margin: 0;
  font-family: $base-font-family;
}

nz-content {
  font-family: $base-font-family;
}

.mat-dialog-container {
  font-family: $base-font-family;
}

//.p-autocomplete-dd .p-autocomplete-input {
//  border-radius: 8px;
//  font-family: $base-font-family;
//  font-size: 14px;
//}
//
//.p-autocomplete-items {
//  margin: 0;
//  padding: 0;
//  list-style-type: none;
//  font-family: $base-font-family;
//  font-size: 12px;
//  color: rgba(16, 16, 16, 0.867);
//}
