<div class="">
  <br>
  <form [formGroup]="formulario" (keyup.enter)="enviarFormulario()" novalidate>
    <div class="form-group">
      <div class="row">

        <!-- fechaOrdenTrabajo -->
        <div class="col-md-6 col-sm-12 mb-3">
          <div class="row">
            <div class="col-sm-4">
              <label
                class="control-label text-bago-primary inline-label-no-overflow"
                for="fechaOrdenTrabajo"
              >
                Fecha de Orden de Trabajo: *
              </label>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <label class="field field-over">
                  <input
                    id="fechaOrdenTrabajo"
                    [formControlName]="'fechaOrdenTrabajo'"
                    type="date"
                    class="form-control-sm field-bag"
                    placeholder="EJ: 3"
                    aria-describedby="fechaOrdenTrabajoHelp"
                    autocomplete="off"
                    min="2000-01-01"
                    max="2050-12-31"
                    [placeholder]="'EJM: 12/25/2022'"
                    [readOnly]="soloVer"
                  >
                  <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la fecha de orden de trabajo EJM: 12/25/2022</span>
                  </span>
                </label>
              </div>
              <small *ngIf="estructuraErrores.fechaOrdenTrabajo.length>0 && estructuraErrores.fechaOrdenTrabajo[0]"
                     class="text-danger"
              >
                <div *ngFor="let mensajeError of estructuraErrores.fechaOrdenTrabajo">
                  <div>{{ mensajeError }}</div>
                </div>
              </small>
            </div>
          </div>
        </div>

        <!-- observacion -->
        <div class="alert alert-warning" role="alert">
          <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
              <div class="col-md-2">
                <label
                  class="control-label text-bago-primary inline-label-no-overflow"
                  for="observacion"
                >
                  Observación:
                </label>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <label class="field field-over">
                  <textarea
                    id="observacion"
                    [formControlName]="'observacion'"
                    type="text"
                    class="form-control-sm field-bag"
                    aria-describedby="parametroCategoriaoHelp"
                    autocomplete="off"
                    rows="1"
                    placeholder="EJM: Repuesto bajo pedidos"
                    [readOnly]="soloVer"
                  >
                  </textarea>
                    <span class="field-label-wrap-bag">
                    <span class="field-label-bag">Ingrese la observacion EJM: Repuesto bajo pedidos</span>
                  </span>
                  </label>
                </div>
                <small *ngIf="estructuraErrores.observacion.length>0 && estructuraErrores.observacion[0]"
                       class="text-danger"
                >
                  <div *ngFor="let mensajeError of estructuraErrores.observacion">
                    <div>{{ mensajeError }}</div>
                  </div>
                </small>
              </div>
            </div>
          </div>
        </div>

        <!-- estadoAccion -->
<!--        <div class="col-md-6 col-sm-12 mb-3">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-4">-->
<!--              <label-->
<!--                class="control-label text-bago-primary inline-label-no-overflow"-->
<!--                for="estadoAccion"-->
<!--              >-->
<!--                Estado:-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="row">-->
<!--                <p-dropdown-->
<!--                  id="estadoAccion"-->
<!--                  [options]="estados"-->
<!--                  formControlName="estadoAccion"-->
<!--                  optionLabel="label"-->
<!--                  optionValue="value"-->
<!--                  placeholder="Seleccione una opción"-->
<!--                  [showClear]="true"-->
<!--                  [disabled]="true"-->
<!--                ></p-dropdown>-->
<!--              </div>-->
<!--              <small *ngIf="estructuraErrores.estadoAccion.length>0 && estructuraErrores.estadoAccion[0]"-->
<!--                     class="text-danger"-->
<!--              >-->
<!--                <div *ngFor="let mensajeError of estructuraErrores.estadoAccion">-->
<!--                  <div>{{ mensajeError }}</div>-->
<!--                </div>-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </form>
  <br>

  <app-tabla-detalle-factura
    #tablaDetallesFactura
    [detallesPrevios]="data?.ordenTrabajoDetalles"
    [tipoGasto]="tipoGasto"
    [esOrdenTrabajo]="true"
    [estadoOrdenTrabajo]="data?.estadoAccion"
    (facturaDetalle)="obtenerTablaDetalles($event)"
    [soloVer]="soloVer"
  ></app-tabla-detalle-factura>
</div>
