<div class="row">
  <div class="col-sm-12">
    <!-- Datos -->
    <dx-data-grid
      #dxDtgData
      class="bagotable border-rounded-gray header-bold header-label-13 header-filter cell-label-12 total-footer-gray"
      keyExpr="id"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [columnMinWidth]="50"
      [dataSource]="datos"
      [disabled]="disabledTable"
      [hoverStateEnabled]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnLines]="true"
      [showRowLines]="false"
      [title]="''"
      (onToolbarPreparing)="onToolbarPreparing($event)"
    >
      <dxo-grouping
        [autoExpandAll]="true"
        [contextMenuEnabled]="true"
        [expandMode]="'rowClick'"
      >
      </dxo-grouping>

      <dxo-group-panel
        [visible]="true"
      >
      </dxo-group-panel>

      <dxo-export
        fileName="SIB_FORM_REGISTROS"
        [allowExportSelectedData]="true"
        [enabled]="true"
        [texts]="{exportTo: 'Exportar datos a Excel'}"
      >
      </dxo-export>

      <dxo-column-chooser
        mode="dragAndDrop"
        [allowSearch]="true"
        [enabled]="true"
      >
      </dxo-column-chooser>

      <dxo-sorting
        mode="multiple"
      >
      </dxo-sorting>

      <dxo-state-storing
        type="localStorage"
        storageKey="dxDtgDataFormInvLineas"
        [enabled]="false"
      >
      </dxo-state-storing>

      <dxo-header-filter
        [visible]="true"
      >
      </dxo-header-filter>

      <dxo-filter-row
        [visible]="true"
      >
      </dxo-filter-row>

      <dxo-filter-panel
        [filterEnabled]="true"
        [visible]="true"
      >
      </dxo-filter-panel>

      <dxo-keyboard-navigation
        [editOnKeyPress]="true"
        [enabled]="true"
        [enterKeyAction]="'moveFocus'"
        [enterKeyDirection]="'row'">
      </dxo-keyboard-navigation>

      <dxo-scrolling
        [columnRenderingMode]="'virtual'"
        [rowRenderingMode]="'virtual'"
      ></dxo-scrolling>

      <dxo-paging
        [enabled]="true"
        [pageSize]="paginationStart"
      >
      </dxo-paging>

      <dxo-pager
        [visible]="true"
        [displayMode]="'full'"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="pagination"
        [showInfo]="true"
        [showNavigationButtons]="true"
        infoText="Page #{0}. Total: {1} ({2} items)"
      >
      </dxo-pager>


      <dxi-column
        [caption]="'Tipo'"
        [dataField]="'tipoGasto'"
        [alignment]="'center'"
        [minWidth]="150"
        [width]="150"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
        <dxo-lookup
          [dataSource]="tiposGasto"
          [displayExpr]="'label'"
          [valueExpr]="'value'"
        >
        </dxo-lookup>
      </dxi-column>


      <dxi-column
        [caption]="'Valor a Pagar'"
        [dataField]="'valorAPagar'"
        [alignment]="'center'"
        [minWidth]="100"
        [width]="100"
        [allowFiltering]="false"
        [allowSorting]="true"
      >
        <dxo-format
          type="fixedPoint"
          [precision]="2">
        </dxo-format>
      </dxi-column>

      <dxi-column
        [caption]="'Valor Pagado'"
        [dataField]="'valorPagado'"
        [alignment]="'center'"
        [minWidth]="100"
        [width]="100"
        [allowFiltering]="false"
        [allowSorting]="true"
      >
        <dxo-format
          type="fixedPoint"
          [precision]="2">
        </dxo-format>
      </dxi-column>


      <dxi-column
        [caption]="'N° Factura'"
        dataField="facturaCabecera.numero"
        [alignment]="'center'"
        [minWidth]="200"
        [width]="200"
        [allowFiltering]="true"
        [allowSorting]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Fecha Emisión'"
        [dataType]="'date'"
        dataField="facturaCabecera.fechaEmision"
        [alignment]="'center'"
        [minWidth]="100"
        [width]="100"
        [allowFiltering]="true"
        [allowSorting]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Proveedor'"
        dataField="facturaCabecera.razonSocialProveedor"
        [alignment]="'center'"
        [minWidth]="200"
        [width]="200"
        [allowFiltering]="true"
        [allowSorting]="true"
      >
      </dxi-column>

      <dxi-column
        [caption]="'Estado'"
        [dataField]="'estadoGastoAccion'"
        [alignment]="'center'"
        [minWidth]="150"
        [width]="150"
        [allowFiltering]="true"
        [allowSorting]="true"
        [allowSearch]="true"
      >
        <dxo-lookup
          [dataSource]="estadoGastoAccion"
          [displayExpr]="'label'"
          [valueExpr]="'value'"
        >
        </dxo-lookup>
      </dxi-column>

      <dxi-column
        [caption]="'ACCIONES'"
        [alignment]="'center'"
        [allowEditing]="true"
        [allowExporting]="false"
        [allowFiltering]="false"
        [allowFixing]="true"
        [allowGrouping]="false"
        [allowHeaderFiltering]="false"
        [allowResizing]="false"
        [allowReordering]="false"
        [allowSearch]="false"
        [allowSorting]="false"
        [cellTemplate]="'actionsCell'"
        [minWidth]="200"
        [name]="'dxcActions'"
        [width]="200"
      >
      </dxi-column>

      <!-- actionsCell -->
      <div *dxTemplate="let data of 'actionsCell'">
        <div>
          <button
            (click)="abrirModalPagosAbonos(data.data)"
            pButton
            pRipple
            type="button"
            icon="pi pi-money-bill"
            title="Ver Pagos/Abonos"
            class="p-button-rounded p-button-success p-button-text icon-button">
          </button>
          <button
            *ngIf="data.data.estadoGastoAccion !== estadoGAtoAccionEnum.FINALIZADO"
            (click)="add(data.data)"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            title="Editar"
            class="p-button-rounded p-button-success p-button-text icon-button">
          </button>
          <button
            *ngIf="data.data.estadoGastoAccion === estadoGAtoAccionEnum.FINALIZADO"
            (click)="add(data.data)"
            pButton
            pRipple
            type="button"
            icon="pi pi-eye"
            title="Ver"
            class="p-button-rounded p-button-success p-button-text icon-button">
          </button>
          <button
            *ngIf="data.data.facturaCabecera?.archivos?.length"
            (click)="descargarFactura(data.data.facturaCabecera)"
            pButton
            pRipple
            type="button"
            icon="pi pi-download"
            title="descargar factura"
            class="p-button-rounded p-button-primary p-button-text icon-button">
          </button>
        </div>
      </div>
      <!-- actionsCell -->

      <dxo-summary>
        <dxi-total-item
          alignment="right"
          column="dxcActions"
          displayFormat="Ítems {0}"
          summaryType="count"
        >
        </dxi-total-item>
      </dxo-summary>


    </dx-data-grid>
    <!-- Datos -->
  </div>
</div>

